[2021-06-18 08:41] anbraten opened #3852 "svg img src is function after build"
### Describe the bug

After building the img src attribute contains a function which does not load the image. In the dev-mode the SVG image is loaded without any problems.

Vue-template:

[code]

Rendered html:
[code]

### Reproduction

### System Info

Output of `npx envinfo --system --npmPackages vite,@vitejs/plugin-vue --binaries --browsers`:

[code]

Used package manager:  pnpm

### Logs

[cod

[2021-06-18 09:39] hxdyj commented on #3336
I am also has this problom, But not find the way to resolve.

[2021-06-18 09:54] hxdyj commented on #3336
![image](https://user-images.githubusercontent.com/14368755/122543364-4949ab00-d05e-11eb-9568-414ed99ec31c.png)

[2021-06-18 11:33] DrUNE commented on #3800
Changing lib output formats worked for me:

[2021-06-18 11:56] eddeee888 opened #3853 "`server.hmr.clientPort` only works if `middlewareMode` is provided"
### Describe the bug

`server.hmr.clientPort` only works if `middlewareMode` is provided.

Is this intentional? It feels like the client should be allowed to use any arbitrary port. It feels a bit odd to be tied to any server config.

I'm also new to Vite so there could be some missing context that I couldn't find from the issues. Please let me know. 🙏

### Reproduction

This can be seen [here](ht

[2021-06-18 12:05] toburger commented on #1493
I have the same issue: if the project is located under %HOME% the project works, otherwise I get the error message mentioned above.

[2021-06-18 13:35] lukasmoellerch opened #3854 "Styles of CSS files which aren't imported anymore aren't removed"
### Describe the bug

When a css file import is removed from a module that isn't HMR self-accepting the style object in the header isn't removed.

I'd be interested in working on a fix for this, but haven't figured out how this would be fixed - I'd be happy about some pointers.

### Reproduction

https://github.com/lukasmoellerch/vite-css-bug

When `abc.js` is changed to import `style2.css` instea

[2021-06-18 14:18] ivanjeremic commented on #378
Can I ask what exactly is meant by "Legacy JS Files"?

[2021-06-18 16:00] eunjae-lee opened #3856 "instantiateModule @ ssrModuleLoader fails to import"
### Describe the bug

`instantiateModule` in ssrModuleLoader.ts tries to load a library that I'm working on, and it fails. That error happens lots of times across many files in the library.

The library works fine with vite when it's not SSR. It's failing only with SSR.

[code]

I'm not so sure but from my observation, let's say we have this:

[code]

and

[code]

When `a.js` is importing `b.js` a

[2021-06-18 16:08] truongsinh opened #3857 "cache strategy: `stale-while-revalidate` as an option to replace/complement `no-cache`"
### Clear and concise description of the problem

My project has too many files. Even if the page is hosted locally, it still takes some time to load. But the setup is that I have to load the page from a remote dev-box (with HTTP 1.1), and it takes 20 seconds to load all files. With the option to have `stale-while-revalidate`, the load time is down to 4 seconds.

I'm happy to submit PR

### Sugges

[2021-06-18 16:15] milahu commented on #378
scroll 4 posts up

[2021-06-18 16:19] ruifortes opened #3858 "Are absolute paths working on windows?"
### Describe the bug

Using absolute path in createServer root option causes vite to return 404 error

### Reproduction

[code]

### System Info

[code]

Used package manager: pnpm

[2021-06-18 16:57] daveavi opened #3860 "HELP: Not able to output unhashed js file to my dist folder during build process"
### Overview

Right now I am building a chrome extension that uses Vue to inject a component onto the DOM of my targeted webpage. I am trying to migrate from Laravel Mix to Vite and I am struggling to copy my background script over to my dist folder during the build process because at the moment it is outputting a hashed file name.

Here is my vite.config.ts
<img width="772" alt="Screen Shot 2021-

[2021-06-18 17:42] yyx990803 commented on #3857
Sounds like a good improvement in general - I'd be open to a PR.

[2021-06-18 17:51] userquin commented on #3857
@yyx990803 if using `vitepress` you can see `@vueuse` and how it is configured with `vite-plugin-pwa`...

[2021-06-18 18:16] janispritzkau commented on #3742
It looks like a very simple fix.

The variable `hasEmitted` in https://github.com/vitejs/vite/blob/6eaec3ab74d126310d93f8a93f8577bed1c3f474/packages/vite/src/node/plugins/css.ts#L232 needs to be reset at `buildStart`.

[2021-06-18 19:08] aagamdoshi commented on #3736
Even I am facing similar issue while using Auth0, seems prebundling is the issue. As Auth0 library works well with Webpack

[2021-06-18 19:42] joshpierce commented on #3717
I believe this same issue is present for svelte files in sveltekit. Having issues getting JIT working with TailwindCSS in SvelteKit.

[2021-06-18 22:27] patak-js commented on #3772
Correct me if I'm wrong, but `config.build.ssr` (or using the `--ssr` cli option) applies only during building of the SSR entry.

And for the SSR server, I don't think we can use `config.server.middlewareMode === 'ssr'` here. In [the docs](https://vitejs.dev/guide/ssr.html#setting-up-the-dev-server) we say:

Even if it is recommended, the user may chose to have a full server, or use Vite in `middl

[2021-06-18 23:33] raythurnevoid commented on #2393
I'm getting this error on svelte-kit: https://github.com/sveltejs/kit/issues/928

![image](https://user-images.githubusercontent.com/53383860/122623841-f7287a00-d09d-11eb-9593-a4f3b7ae8dee.png)

The [package's package.json](https://github.com/raythurnevoid/svelte-hooks/blob/main/package.json) file:
[code]

As a workaround i got it to work with:
[code]

[2021-06-18 23:46] jiyingzhi opened #3861 "CSS is leaked to JS when @vitejs/plugin-legacy is used"
### Describe the bug

Even if the CSS is split into separate files, it will still be injected into JS, using @vitejs/plugin-legacy.

### Reproduction

Run the following command:

[code]

output:

[code]
The size of dist/assets/index-legacy.19f6a2d2.js  minus the size of dist/assets/index.0af28c7f.js is exactly the size of dist/assets/index.b97d446c.css.

### System Info

Output of `npx envinfo --s

[2021-06-19 02:36] hgl commented on #3772
`tryNodeResolve` turns the SSR flag into `targetWeb`, If we're going to pass the flag around, should it accept another argument for the original flag?

And these methods need to accept the new argument, if I'm not missing anything:

1. server._registerMissingImport
2. optimizeDeps
3. esbuildDepPlugin
4. esbuildDepPlugin's resolver

Will the PR be accepted if it needs to touch this amount of method

[2021-06-19 03:33] kfurfles commented on #88
I'm using with react + TS.
that works for me

[code]

[code]

[2021-06-19 04:34] admin00001 commented on #3817
I have this problem too! so vite it is not  perfect, maybe I should keep to use webpack for my project.

[2021-06-19 06:01] antfu commented on #2820
Bring back for the record

[2021-06-19 08:49] ygj6 commented on #3860
@daveavi
You can try `entryFileNames`
[code]
link:https://rollupjs.org/guide/en/#outputentryfilenames

[2021-06-19 09:02] zhangyuang commented on #2240
In ssr environment, `sass.dart.js` contain below code
[code]

So, you must add `location.href` in `Node.js` `global `object。
For example, if you use [ssr framework](https://github.com/ykfe/ssr) which you can get `ctx` object from `props` in `layout.vue`

[code]
it can be render succeed with combine `vite` and `sass` in ssr scene

![image](https://user-images.githubusercontent.com/17424434/12263721

[2021-06-19 09:58] phanmn commented on #3554
After remove inline worker, everything work fine

[2021-06-19 10:20] ferdinando-ferreira opened #3864 "Infinite recursion on propagateUpdate"
### Describe the bug

Latest change on `propagateUpdate` causes an infinite recursion on hmr when editting an included sass file.

### Reproduction

[code]

Then

 * open http://localhost:3000/ in the browser
 * open packages/playground/css/sass.scss in the editor
 * replace `color: $injectedColor;` with `color: red`

An overlay with an error message will be displayed (below at the log section)

#

[2021-06-19 14:12] underfin commented on #3860
Close at @ygj6 said.

[2021-06-19 14:12] #3860 closed

[2021-06-19 15:52] ArsalaBangash commented on #3860
Thank you for your solution @ygj6

I am a little confused as to why @daveavi and I had to set the assetsDir for background.js to be affected but we have to use entryFileNames to set its file pattern.

Essentially, I feel like the vite build object is considering our background script as an asset however in rollup options we are referring to it as an entry file.

[2021-06-19 15:52] raythurnevoid opened #3868 "Vite fails to build when source maps link to non existing file with error: "ENOENT: no such file or directory""
### Describe the bug

Some packages provide source maps in node_modules, when they do if the source map link to a .ts file and the .ts file is not in the folder, source map resolution will fail with an error like this:
`ENOENT: no such file or directory, open 'C:\workspace\m7d\svelte-context-enhanced\website\node_modules\@material\ripple\index.ts'`
The worst thing is that the error won't have any

[2021-06-19 15:57] #3864 closed

[2021-06-19 18:57] swina opened #3871 "Build error using Async Config in production (no errors in local production)"
### Describe the bug

Loading config data from external file using Async Config no errors in local development build, but gives error in production deployment (Vercel)

### Reproduction

**vite.config.js**
[code]

**Repo**

[GitHub](https://github.com/swina/whoobe-generator-vite)

### System Info

Local configuration, build works correctly.

[code]

Used package manager: npm

### Logs

failed to l

[2021-06-19 19:00] Niputi commented on #3817
added to head html file
[code]
vite.config.ts
[code]
add these dependencies `browserify-zlib`, `events`, `process`, `stream-browserify`, `util`

[2021-06-19 19:05] cristianpoleyJS opened #3872 "Methods and consts not generated in the build: TypeError: Cannot read property 'handleButtonNumber' of undefined"
### Describe the bug

When I build (npm run build) of my project and test it with npm run serve, it seems that the build is not generated correctly because the generated code still shows `this.handleButtonNumber` and I get errors that my handleButtonNumber method is not defined.

### Reproduction

Git clone the app: git@github.com:cristianpoleyJS/calculator-app.git
You can error here: https://calc

[2021-06-19 20:55] patak-js commented on #3772
I think we should check it in the PR review with other maintainers, as it will be easier to discuss seeing the changeset. At least to me, this sounds ok.

[2021-06-19 23:35] oscartbeaumont opened #3873 "vite build --watch HMR"
### Clear and concise description of the problem

My current setup involves using the `vite build --watch` command so that I am able to serve my Vite frontend from a custom webserver. It would be great if hot module reloading could be used in this configuration.

This feature is supported by [Snowpack](https://www.snowpack.dev) via the command `snowpack build --watch. --hmr`.

### Suggested soluti

[2021-06-20 00:01] #3826 closed

[2021-06-20 06:06] kyasu1 commented on #3742
On 2.3.8 the issue still exists but with this fix it seems to be working again for me.

[2021-06-20 08:00] javastation commented on #3742
Do you set `build.cssCodeSplit = false`?

[2021-06-20 08:17] LiuQixuan commented on #77
[vite 2.0 docs Glob import
](https://cn.vitejs.dev/guide/features.html#glob-import)

`const modules = import.meta.glob('./dir/*.js')`
The above will be transformed into the following:
[code]
You can then iterate over the keys of the modules object to access the corresponding modules:
[code]

[2021-06-20 08:23] Relaxe111 commented on #2624
I found out that issue is some how related to useContext(). When i import store directly, it works properly. But when i inject it with react context it does a full reload.

[2021-06-20 08:34] Relaxe111 commented on #2624
I've seen similar opened issues not sure if they are related or not:
#3301
#2308

[2021-06-20 09:09] kyasu1 commented on #3742
No I am not using that option.

[2021-06-20 09:51] javastation commented on #3742
It doesn't work for me, maybe I have overlooked something, do you have a reproduction?

[2021-06-20 11:02] janispritzkau commented on #3742
I think we have two slightly different issues here. In my tests, I explicitly had a css entry file in lib mode.

[2021-06-20 11:07] javastation commented on #3742
Ok, thank you, I know what went wrong.

[2021-06-20 11:20] IndexXuan opened #3875 "different url resolve result in template img src and style background url."
### Describe the bug

I have two alias, one is `@` for src and another is `~` for `''`
then when I
[code]

while
[code]

### Reproduction
see https://github.com/IndexXuan/vite-url-bug-repro/blob/master/src/App.vue#L3
and
see https://github.com/IndexXuan/vite-url-bug-repro/blob/master/src/App.vue#L30

with [vite.config.ts](https://github.com/IndexXuan/vite-url-bug-repro/blob/master/vite.config.ts#L

[2021-06-20 11:20] IndexXuan commented on #3875
https://github.com/IndexXuan/vue-cli-plugin-vite/issues/33

[2021-06-20 12:21] marcus-wishes commented on #3776
Thank you for doing that. Saved me some time.

[2021-06-20 12:53] FelixIncerta commented on #270
I have the same but with a react project with react/jsx-runtime

Uncaught TypeError: Failed to resolve module specifier "react/jsx-runtime". Relative references must start with either "/", "./", or "../".

Could you solve this ?

[2021-06-20 12:54] FelixIncerta commented on #3038
I have the same but with a react project with react/jsx-runtime

Uncaught TypeError: Failed to resolve module specifier "react/jsx-runtime". Relative references must start with either "/", "./", or "../".

Could you solve this issie ?

[2021-06-20 13:13] FelixIncerta commented on #3310
@jerrynim I tried also copying a file with
[code]

[2021-06-20 14:13] FelixIncerta opened #3876 "Uncaught TypeError: Failed to resolve module specifier "react/jsx-runtime""
`vite` works for development
`vite build` works, no errors

`vite serve` works but when i navigate to the url i get this error

```localhost/:1 Uncaught TypeError: Failed to resolve module specifier "react/jsx-runtime". Relative references must start with either "/", "./", or "../".```

My vite.config.ts

[code]

Used package manager: yarn

I am trying fs.copy in plugins but the file isnt copied t

[2021-06-20 16:14] Ronbb commented on #3413
@patak-js

not fix

[code]

[2021-06-20 18:00] tjk opened #3877 "Font asset error -- OTS parsing error:  0GS: misaligned table"
### Describe the bug

Vite (during build) produces corrupted ttf file (for codicon.ttf inside of monaco-editor). The "optimized" output asset is bigger than the source one as well.

[code]

This previous issue may or may not be relevant:
- https://github.com/vitejs/vite/issues/159

### System Info

[code]

Used package manager: yarn

### Browser Logs

[code]

[2021-06-20 19:00] tjk commented on #3877
This looks like it was another part of the pipeline process that borked the file actually, apologies!

[2021-06-20 19:00] #3877 closed

[2021-06-20 21:14] raythurnevoid commented on #2491
@fairbanksg I've improved your fix with another case:

[code]

https://github.com/raythurnevoid/vite/commit/4bffced904bb04c32ae48084cbda1fb156e26e9e

[2021-06-20 21:54] tjk commented on #3768
Relevant links:
- https://discord.com/channels/804011606160703521/814182556068085760/856051587273064489
- https://github.com/vitejs/vite/pull/2494#discussion_r598314757
- https://github.com/vitejs/vite/pull/2494

[2021-06-21 00:01] #3837 closed

[2021-06-21 01:58] ygj6 commented on #3475
Maybe there was a misunderstanding, vite's proxy means it will route requests from a browser to the target server.
The request process is as follows:
[code]

[2021-06-21 03:39] ygj6 commented on #3871
Hi @swina , I noticed that you are using vite 2.0.5 . If I upgrade to the latest version 2.3.8, both build and dev can work correctly!

[2021-06-21 05:08] phanmn opened #3882 "[vite:asset] Plugin error - Unable to get file name for unknown file"
### Describe the bug
Error when try to build my project with vite version 2.3.8, work ok with vite 2.3.3
[code]

### Reproduction
https://codesandbox.io/s/vite-vue3-bug-inline-worker-9khm2

### System Info

[code]

Used package manager: npm

### Logs
![image](https://user-images.githubusercontent.com/3765536/122710151-eb99a680-d289-11eb-8232-5c35b0650810.png)

[2021-06-21 05:09] phanmn commented on #3882
Bug happen when I try to use inline web worker with typescript

[2021-06-21 07:05] yankydoo opened #3883 "Generic arrow function in Typescript cause esbuild error"
### Describe the bug

The usage of `<T, >` in .tsx files causes an error.

For example, this causes an error:

`const doSomething = <T, >(value: T): T => { return value; }`

While this works:

`function doSomething<T>(value: T): T { return value; }`

@n1ru4l reported this issue in the esbuild project but they determined that this is not an esbuild problem: https://github.com/evanw/esbuild/issues/9

[2021-06-21 07:23] 12dollar commented on #3475
And my requests are never proxied from ```http://localhost:3000``` to ```http://localhost:8000``` as per this example.

[2021-06-21 07:29] RSWilli commented on #3883
I had the same problem with other build systems. This is not a problem with vitejs, but rather the typescript compiler

Typescript on the other hand cannot solve this problem (in tsx files), because you could always be using the XML syntax and the compiler cannot distinguish between them.

https://stackoverflow.com/a/37687827

in tsx files you have to always use the `extends` keyword explicitly, w

[2021-06-21 07:33] surjithctly commented on #3742
Hey all,

I'm having the same issue on 2.3.8. Apart from CSS, the `rel=icon` also has `href=undefined`.

I saw @janispritzkau provided a fix, but no idea where to apply it? If anyone fixed the CSS missing issue, how did you solve it?

[2021-06-21 07:36] surjithctly commented on #3873
This would be a great feature.

[2021-06-21 07:59] swina commented on #3871
Yep I will update. By the way the error was a configuration problem on vercel deployment. Sorry for the issue that wasn't related to vite itself. My mistake but thank you for your answer really appreciate.
I find vitejs is amazing for developers. Same application with nuxtjs takes 10 times or more to build the app.

[2021-06-21 08:00] yankydoo commented on #3883
The compiler can distinguish between them as long as you add some "hint". In my case, the hint is the comma:

`const doSomething = <T, >(value: T): T => { return value; }`

But the comma seems to get lost before the code reaches esbuild (in the log output the comma doesn't show up anymore).

I am sure that this problem lies within the vite dev server pipeline as it works without a problem with, e.

[2021-06-21 08:20] dxy2233 opened #3884 "增加使用esbuild打包的功能"
### Clear and concise description of the problem

部分需求需要极快的打包速度，是否可以考虑增加使用esbuild来完成build。

### Suggested solution

### Alternative

### Additional context

[2021-06-21 09:03] nulladdict commented on #3469
Hi, sorry for slacking on this

I've put together a PoC #3885, but I'm not really happy with how it turned out.
The solution seems kind of fragile to me and the other alternative would influence the main bundle, which is not ideal for the legacy feature in my opinion

I also checked which browsers are affected (`supports es6-module and not supports es6-module-dynamic-import`):

[code]

To me, it l

[2021-06-21 09:13] ujjwalbishnoi commented on #3810
https://codesandbox.io/s/react-vite-forked-6k4h2

[2021-06-21 14:18] masquevil commented on #3170
Bug 1 have been fixed by follow https://github.com/vuejs/vetur/issues/2016.
Bug 2 have been fixed by using VueDX instead of Vetur.

[2021-06-21 14:18] #3170 closed

[2021-06-21 14:47] dejour commented on #3854
you should also add following code to abc.js
[code]

[2021-06-21 15:15] lukasmoellerch commented on #3854
I was just a bit confused as the new module was hot-loaded (due to the CSS implementation accepting the HMR update (?)). I would have expected the default to be that the module declines hot-updates and thus this would result in a full-page reload. the way I understood it the HMR API would be opt-in, enabling hot-reloading in frameworks but having a "valid" default behavior. If this is a non-issue

[2021-06-21 15:50] #3742 closed

[2021-06-21 19:16] dnrm opened #3888 "Support dynamic imports without the need of plugins/loaders."
### Clear and concise description of the problem

As a developer using Vite i wish Vite supported dynamic svg imports so that packages like react-flagpack and others.

### Suggested solution

I don't know how this could be implemented.

### Alternative
Install an SVG loader.

### Additional context
None

[2021-06-22 00:01] #3850 closed

[2021-06-22 00:50] daiwanxing commented on #3884
https://cn.vitejs.dev/guide/why.html#why-bundle-for-production

[2021-06-22 01:24] zhuchangfeng commented on #279
vite 1 verson
`  alias: {
      '@pages': path.resolve(__dirname, './src/pages')
    }`
vite 2 verson
`resolve:{
    alias: [   {
      find: '@',
      replacement: resolve('src') ,
    },]
  },`
crucial step
`yarn add @vitejs/plugin-vue`
  `yarn upgrade vite@2.3.8`

vite.config.js

`
import vue from '@vitejs/plugin-vue'`
`import { defineConfig } from 'vite'`
`export default defineConfig({`
`reso

[2021-06-22 02:25] ygj6 commented on #3882
This problem has been solved by [PR#3747](https://github.com/vitejs/vite/pull/3747)

[2021-06-22 03:20] softboy99 commented on #2280
same problem

[2021-06-22 03:38] OneNail commented on #3883
the plugin `@vitejs/plugin-react-refresh` transform it

https://github.com/vitejs/vite/blob/bb095db11db5c7a12db6dcee866694f1f68d1e15/packages/plugin-react-refresh/index.js#L97

https://github.com/vitejs/vite/blob/bb095db11db5c7a12db6dcee866694f1f68d1e15/packages/plugin-react-refresh/index.js#L104

[2021-06-22 03:40] softboy99 commented on #3279
me too

[2021-06-22 06:19] IndexXuan commented on #3875
Maybe wrong usage. But how vue template resolve it in the right way ?

[2021-06-22 07:31] sunan112 opened #3896 "An error was reported when running the vue3 project -- error: Unexpected "\x88""
### Describe the bug
An error was reported when running the vue3 project created by vite for the first time：
node_modules/vue/dist/vue.runtime.esm-bundler.js:1:0: error: Unexpected "\x88"
### Reproduction
environment：
1. node: 14.17.1   npm: 6.14.13
2. node: 12.15.0

command:
[code]

Pre-bundling dependencies:

    1 │ �}$#+��^���,�5(���a ���
      ╵ ^

error when starting dev server:
Error: Build

[2021-06-22 07:43] director-zhou opened #3897 "Start node_ For projects in modules, the index.html entry cannot be pre built"
### Clear and concise description of the problem

Use vite to encapsulate the whole project into NPM. When it is installed, the HTML pre build entry is in the node of the project_ In modules, it will be ignored when using fast glob scanning. What I want to do is similar to the function like vuepress. In this way, I have to use optimizedeps. Include to write the pre build

### Suggested solution

E

[2021-06-22 07:53] ygj6 commented on #3896
Seems to be a problem with your npm environment, you can try `yarn create @vitejs/app`.

I run `npm init @vitejs/app` is normal.
![image](https://user-images.githubusercontent.com/7699524/122885141-61c50880-d371-11eb-9a72-1dfa7a2bc40b.png)

[2021-06-22 07:59] sunan112 commented on #3896
I tried it and it still doesn't work。

yarn run v1.22.10
warning package.json: No license field
$ vite
Pre-bundling dependencies:
  vue
(this will be run only when your dependencies or config have changed)

    1 │ �}�#+�@�^,�'�T%6M��a ��Z
      ╵ ^

error when starting dev server:
Error: Build failed with 1 error:
node_modules/vue/dist/vue.runtime.esm-bundler.js:1:0: error: Unexpected "\x88"

[2021-06-22 08:06] admin00001 commented on #3817
i dont understand why to set
[code]
and  vite.config.ts
[code]

together

[2021-06-22 08:27] ygj6 commented on #3896
Try `yarn` after clearing the cache
[code]

[2021-06-22 08:32] alefbragin opened #3898 "`vite build` ignores `optimizeDeps.include`"
### Describe the bug

`optimizeDeps.include` option in config file is ignored by `vite build` command, while dev-server (just `vite` command) performs optimizing steps for the included files.

I use these feature because of I have to deal with CommonJS modules. My project uses gRPC-Web and generetes JavaScript-clients by Protocol Buffer Compiler with gRPC-Web plugin. This tool can't generate ES mo

[2021-06-22 08:37] cawa-93 opened #3899 "Can't compile Vue component with `for await`"
### Describe the bug
Vite Can't compile Vue component with `for await` loop in `development` (dev server) mode. In `production` all works as expected.

### Reproduction

- Open [packages/playground/vue/Main.vue](https://github.com/vitejs/vite/tree/main/packages/playground/vue/Main.vue)
- Add async loop like below to `<script>` block
[code]
- Call `npm run dev`. You should get exeption

Codesandbox

[2021-06-22 08:47] mariusheine commented on #3852
@anbraten The problem came from the usage of `vite-svg-loader` which also jumped in when referencing an svg in the `src` attribute of images. We fixed this by applying `?url` (see https://github.com/jpkleemans/vite-svg-loader/blob/main/index.js#L16). Sadly this is missing in the vite-svg-loader docs.

So I think we can close this issue here.

[2021-06-22 09:01] anbraten commented on #3852
@mariusheine Thanks for figuring this out.

[2021-06-22 09:01] #3852 closed

[2021-06-22 09:05] sunan112 commented on #3896
also the same error...
I also tried reinstalling node...

[2021-06-22 09:08] not-rusty opened #3900 "Components inside typescript namespaces"
### Describe the bug

Apparently components inside namespaces is not supported. I don't exactly know if the error comes from esbuild or something, but it would nice.

The bug is that is not shown as a compilation error.
### Reproduction

Simply start a `react-ts` project with `$ npm init @vitejs/app my-vue-app --template react-ts` and write the following code:

[code]

### System Info

[code]

Use

[2021-06-22 10:30] OneNail commented on #3898
The execution process of the build does not include dependency pre-bundling,  so optimizeDeps.include is invalid

build commonjsOptions include's default config  is `[/node_modules/]`, this caused the error.

https://github.com/vitejs/vite/blob/bb095db11db5c7a12db6dcee866694f1f68d1e15/packages/vite/src/node/build.ts#L212-L216

the following config is work
[code]

[2021-06-22 10:31] liho00 commented on #2349
having this issue as well. Anyone has the solution for it?

[2021-06-22 10:42] dejour commented on #3899
it works fine in my environment

[2021-06-22 10:44] ygj6 commented on #3875
@vitejs/plugin-vue uses @vue/compiler-sfc to compile `.vue` file, and it will remove `~` at the start of `url(~@/assets/logo.png)`.
https://github.com/vuejs/vue-next/blob/ab6e927041e4082acac9a5effe332557e70e4f2a/packages/compiler-sfc/src/templateUtils.ts#L22:L29

However, the vite css plugin doesn't has such behavior. I think it's appropriate to ensure consistent behavior.

[2021-06-22 11:24] wjzheng commented on #3522
You can try to use the html `base` attribute ,eg: `<base url="https://www.domain.com/" />`

[2021-06-22 11:32] luukdv opened #3902 "CSS config is reused for subsequent builds"
### Describe the bug

When running multiple builds, the `css` config of the first build is reused. When running a build with a different config later on, it won't read from the provided config but will use the one that was encountered first.

### Reproduction

I've created a small demo in https://github.com/luukdv/vite-builds. When you run `npm i && node build`, it will create two directories insi

[2021-06-22 11:36] sunan112 commented on #3896
Thank you, I found the reason. The company's security software was encrypted when the package was converted into a project file, which caused the problem.It's very kind of you.I'm so sorry

[2021-06-22 11:36] #3896 closed

[2021-06-22 12:02] stilistik opened #3904 "Config option for specific .env file to use"
### Description

It would be nice to have an option as part of the `vite.config.ts` to set a specific .env file to use or to disable .env files entirely.

### Suggested solution

Add a `config.envFile` option. If a specific envFile is provided in the config, the `loadEnv` function in `config.ts` should be skipped and instead just the file at the specified path should be loaded.

### Additional con

[2021-06-22 12:29] IndexXuan commented on #3875
@ygj6 thank you very much.
is @vue/compiler-sfc handle `~` just for compat with `css-loader` ?

[2021-06-22 13:02] lgrahl opened #3905 "client types are incompatible with 'webworker' lib"
### Describe the bug

The `vite/client` types result in type errors when used in sources where `lib` was declared to be `webworker`. It runs fine in vite but throws errors when validating via `tsc`.

### Reproduction

[code]

### Analysis

The issue is that vite/client is referencing DOM (see vite/client.d.ts) which is a superset of what workers can do. However, AFAICT vite/client doesn't need tha

[2021-06-22 13:25] lgrahl commented on #3905
For those interested in a workaround: If you don't need support for `*?worker`, `*?worker&inline` and `*?sharedworker` (which can be replaced easily by `*?raw` and `*?url`), copy vite/client.d.ts and reference that copy. Remove the declarations of the above mentioned module types.

[2021-06-22 13:26] dongnaebi commented on #3522
It works on all relative paths

[2021-06-22 13:29] alizeait commented on #3522
That wouldn't work for dynamic imports right?

[2021-06-22 13:50] cquiroz commented on #3592
I’m seeing the same issue, it started with vite 2.3.0, maybe the update of esbuild?

[2021-06-22 15:26] shedali opened #3907 "cannot use import statement outside of a module"
[code]

rename svelte.config.js to svelte.config.mjs and it works
node v16.2.0

Output of `npx envinfo --system --npmPackages vite,@vitejs/plugin-vue --binaries --browsers`:

[code]

Used package manager: npm

[2021-06-22 16:15] chaosprint opened #3909 "Support Cross-Origin-Opener-Policy and Cross-Origin-Embedder-Policy on dev server"
### Clear and concise description of the problem

`Cross-Origin-Opener-Policy` and `Cross-Origin-Embedder-Policy` headers are necessary to support `SharedArrayBuffer`, as is explained in [this article](https://web.dev/cross-origin-isolation-guide/).

But so far, on Vite.js website and docs, there is no description of that, which would be a pain.

Here (https://vitejs.dev/config/#server-https) in d

[2021-06-22 16:50] bluwy opened #3910 "Pre-bundled dependencies doesn't dedupe imports in external files"
### Describe the bug

When Vite pre-bundles a dependency, if the dependency's entrypoint file imports an [external file](https://github.com/vitejs/vite/blob/4cbb40d2f1a4050c9944e7e1d9e0f5b204b7e37b/packages/vite/src/node/optimizer/esbuildDepPlugin.ts#L14-L33) (e.g. `Foo.svelte`), imports in that external file aren't deduped.

### Reproduction

https://github.com/bluwy/vite-svelte-dedupe

(It's a S

[2021-06-22 17:02] l695343920 commented on #1430
<img width="451" alt="屏幕截图 2021-06-23 010152" src="https://user-images.githubusercontent.com/34496207/122968937-a62ac580-d3be-11eb-988d-2080892a1c31.png">
打包后线上数据结构发生了变化

[2021-06-22 17:57] cawa-93 commented on #3899
My [yarn.lock](https://github.com/vitejs/vite/files/6696331/yarn.lock.zip) if this can help ...

[2021-06-22 17:58] whaaaley commented on #1120
Hello. Don't mind me. I'm just here to help others who are running into this problem while using vue3, jsx, with ESBuild. This is the first issue to come up in google.

This error happens because Vue requires a slightly different transform than what ESBuild has. But we can fix this by providing a small wrapper around Vue's `h` and use it as a shim in ESBuild's config.

[code]

In your ESBuild conf

[2021-06-22 18:23] cawa-93 commented on #3899
I Added [codesandbox link](https://codesandbox.io/s/vue3-vite-forked-8mmel)

[2021-06-22 20:40] dominikg commented on #3907
duplicate of https://github.com/vitejs/vite/issues/3834

[2021-06-22 21:00] #3834 closed

[2021-06-22 21:54] patak-js commented on #3907
Closed with #3835

[2021-06-22 21:54] #3907 closed

[2021-06-23 01:37] Miguelklappes opened #3913 "Vite Hot Reload not working"
### Describe the bug

HMR is not working as it should, nothing in the page is updated unless I do a browser refresh (F5). Thought it was the Tailwind thing with Vite, turns out it wasn't.

### Reproduction

[Repository](https://github.com/Miguelklappes/my-vue-app)
### System Info

[code]

Used package manager: YARN

### Logs

[code]

---

### Before submitting the issue, please make sure you do th

[2021-06-23 01:44] softboy99 opened #3914 "css missing issue with a comma-separated list."
demo project: https://github.com/softboy99/vite-devexteme21_1.git.
vite version: 2.3.8
vue version:3.1.1
problems: css are missing for dev & production mode. In chrome dev tools, sources->node_modules\devextreme\dist\,   some css files and fonts are missing

[2021-06-23 01:49] cmdparkour opened #3915 "vite is too slow when i use it"
### Describe the bug

my app is not too fast when i use vite one month ago
it's maybe a good issue to develop the speed of vite
my project demo address is : http://www.github.com/cmdparkour/vue-admin-box.git
![image](https://user-images.githubusercontent.com/35911743/123022015-b1561380-d407-11eb-8825-89821fa62ab9.png)

### Reproduction

http://www.github.com/cmdparkour/vue-admin-box.git
git clone

[2021-06-23 02:05] WeirShi commented on #3815
同问

[2021-06-23 02:06] IanVS commented on #3842
I think you'll be best off opening an issue in https://github.com/eirslett/storybook-builder-vite, and double-check that you're not importing directly from `@storybook/addon-docs/blocks` anywhere, as that has been deprecated, and you should import from `@storybook/addon-docs` instead.

[2021-06-23 03:00] OneNail commented on #3899
this error caused by

https://github.com/vitejs/vite/blob/615a02272029c76d9629f0b2777ce87701cd5a55/packages/vite/src/node/optimizer/scan.ts#L219-L223

related pr
#3889

[2021-06-23 04:52] IanVS commented on #3778
@jrmyio I've taken your suggestion and opened https://github.com/vitejs/vite/pull/3916.

[2021-06-23 05:34] sodatea commented on #3840
I think it's an upstream issue. Tracked at https://github.com/CesiumGS/cesium/issues/9212

[2021-06-23 05:34] #3840 closed

[2021-06-23 05:39] sodatea commented on #3915
It starts on my Mac in 2s, but takes 18s in the Windows VM. Seems a Windows-only issue.

[2021-06-23 06:03] sodatea commented on #2349
Closing as it's an esbuild issue https://github.com/evanw/esbuild/issues/1392

Though, in my opinion, such usage should be discouraged. Decorators in JS is still a stage-2 proposal, so it's still subject to change in the future. Its current specification is drastically different from the TypeScript implementation, too, which might surprise many users.

[2021-06-23 06:03] #2349 closed

[2021-06-23 06:07] sodatea commented on #3914
Please follow the issue template and provide a more specific description of the issue.
I don't understand what the bug is.
And I cannot install the dependencies of the demo project because it has an outdated `yarn.lock`

[2021-06-23 06:12] softboy99 commented on #3914
you can try: [https://github.com/softboy99/vite-devexteme21_1.git](url)

[2021-06-23 06:15] sodatea commented on #3914
As I said, I cannot install the dependencies.

When I run `yarn --frozen-lockfile`, I get:
[code]

If I simply use `yarn`, it hangs after:
[code]

[2021-06-23 06:16] softboy99 commented on #3914
Hi,
it is not hanged,just waiting for a while

[2021-06-23 06:30] kwbtdisk commented on #1493
I spent hours for this problem but resolved just rename `vite.config.ts` => `vite.config.js`
(I guess the config file will be loaded before typescript loader will load or something)

[2021-06-23 06:48] sodatea commented on #3914
It's now 30 minutes after I run `yarn` and it's still hanged there.

[2021-06-23 06:59] DawnLck opened #3919 "Config of esbuild loader doesn't support object data"
### Describe the bug

When i set the loader as follow codesnap, i get the error report which said "loader"
 must be a string. So how to write the config if i want change the loader of jsx?

![image](https://user-images.githubusercontent.com/12195307/123049835-92b94200-d432-11eb-9c58-3383829a86b0.png)

![image](https://user-images.githubusercontent.com/12195307/123049864-9baa1380-d432-11eb-8f95-49d

[2021-06-23 07:01] sodatea commented on #3872
Looks like a `@vue/compiler-sfc` bug. Methods in `<script setup>` shouldn't be able to access `this` even in development mode.

The production build works correctly.

[2021-06-23 07:06] softboy99 commented on #3914
Hi,
it may be network problem. you just ctrl+break, then run the project.

[2021-06-23 07:12] sodatea commented on #3914
OK. Now what's the exact problem? Which CSS and font files are missing? Where are they imported?

[2021-06-23 07:15] sodatea commented on #3600
I'm sorry. I can't debug with a bundled web page (and, it doesn't show any error). A reproduction with source code is **required**.

[2021-06-23 07:17] #3871 closed

[2021-06-23 08:35] sodatea commented on #3919
Vite uses the esbuild tranform API, which doesn't have access to the file system. So it only accepts string for the `loader` option.

I think it's more like an feature request than a bug.

[2021-06-23 08:58] DawnLck commented on #3919
I understand what you mean. What i care about is  esbuild supports loader with object as the input value, but vite config can’t.

[2021-06-23 09:02] sodatea commented on #3919
ESBuild supports it in Build API, but not Transform API https://esbuild.github.io/api/#loader

Vite uses Transform API underlyingly.

[2021-06-23 09:04] sodatea commented on #3919
And the error is from esbuild itself.

If Vite is going to support an object format of the loader option, it won't be as simple as a bug fix. A new option must be exposed.

[2021-06-23 09:08] DawnLck commented on #3919
Ok, got it

[2021-06-23 09:08] #3919 closed

[2021-06-23 09:25] sodatea commented on #3868
Will be fixed by https://github.com/vitejs/vite/pull/2904

[2021-06-23 09:34] sodatea commented on #3872
cc @HcySunYang

[2021-06-23 11:06] friday commented on #2139
`@rollup/plugin-commonjs` works for me with the commonjsOptions exclude pattern ntkoopman used (thank you). I don't understand how that works, since that should match any path longer than 0 characters. `@rollup/plugin-commonjs` is also used internally in vite, but not passed to rollup.

[code]

Someone should at least rename and pin this issue imo (if documenting or fixing the issue are not viable

[2021-06-23 11:14] chaosprint commented on #3909
Well, I build this plugin. It works for my purpose but may require further testing.
https://github.com/chaosprint/vite-plugin-cross-origin-isolation

[2021-06-23 11:33] sodatea commented on #3900
Can be reproduced with the following babel config:

[code]

I think it should be considered as a bug in the `react-refresh` package. Please report to the react team.

[2021-06-23 12:33] Faliszek commented on #2782
@TrySound can you elaborate? How you work around this? I would also love to get vite working with relay

[2021-06-23 13:55] jrmyio commented on #2139
Same issue here with just this:
[code]

Neither '@rollup/plugin-commonjs' or 'rollup-plugin-cjs' worked for me as I would run into 'x is not a function()'.

[2021-06-23 13:57] friday commented on #2139
@jrmyio Disable minification to see the real error https://github.com/vitejs/vite/issues/2139#issuecomment-802981228

[2021-06-23 14:15] msamiluludag opened #3922 "The CSS is broken when there is no space between the background-image url functions"
### Describe the bug

When using multiple background images, CSS corrupted when there is no space between url functions. Vite interprets CSS code without commas. This occurs especially when the CSS is minified.

### Reproduction
It doesn't work like this way.

[code]
or minified

[code]

![broked-dev-tools](https://user-images.githubusercontent.com/23271600/123109404-e2ecd000-d443-11eb-8a9a-dd3c68

[2021-06-23 14:31] cryogenic-ric commented on #832
In case you landed here and code discussed above doesn't work, `cssPreprocessorOptions` has been renamed to `preprocessorOptions`

https://vitejs.dev/config/#css-modules

updated code:
[code]

[2021-06-23 14:50] raythurnevoid commented on #3868
I confirm, it's the same fix i've done myself to fix this in my fork

[2021-06-23 16:22] pretender91 opened #3924 "Vite injects css assets in wrong order with dynamic import and css modules."
### Describe the bug

Vite injects css assets in wrong order with dynamic import and css modules.

### Reproduction

[Repo to reproduce](https://github.com/pretender91/css-code-split-order)

For example:
1. You have component Button with default styles (text color: red)
[code]
[code]
2. You have Page component. This page use Button component and overrides it styles by passing custom class name as

[2021-06-23 17:17] cristianpoleyJS commented on #3872
@sodatea I see, so it is a bug in my code that I should not use this in this case. Thank you very much!

[2021-06-23 17:54] arpowers commented on #3913
Just adding that I've had similar problems recently, although haven't had time to thoroughly debug. We are also using Tailwind.

[2021-06-23 18:22] DerivedMate commented on #3922
The problem appears to be that `doUrlReplace` discards initial commas:
[code]
I therefore propose to add an `initialComma`, similar to `wrap`, to take care of it:
[code]
For an input of:
[code]
it results in:
[code]
which preserves the commas, doesn't add ones of its own, and passes all the css tests.
An alternative solution could consist of padding the commas beforehand but it seems, at least to

[2021-06-23 18:41] jrmyio commented on #2139
Thanks, the error is
[code]

[2021-06-23 19:26] Clee681 commented on #3913
Same here. Was having to refresh using latest Vite, SvelteKit, and Tailwind CSS.

[2021-06-23 21:17] timmaier commented on #3913
Same here was working fine before on version 2.3.6 but bumping to 2.3.8 and stopped working.

[2021-06-23 23:35] aleclarson commented on #2579
I wrote a patch for this: #3927

[2021-06-24 01:02] softboy99 commented on #3914
there are icons on the home views header tool bar and navigation menu, which are supplicd by src\themes\generated\*.css. You can find  in the chrome devtools,->sources->node_modules\devetreme\dist\ only dx.common.css are there.

[2021-06-24 01:16] sodatea commented on #3914
Got it.
The same issue as https://github.com/vitejs/vite/issues/3922
Will be fixed by https://github.com/vitejs/vite/pull/3926

[2021-06-24 01:18] sodatea commented on #3914
As the two issues are caused by the same bug, I'm closing this issue to keep the issue tracker clean.

Feel free to open a new one if you find new bugs.

[2021-06-24 01:18] #3914 closed

[2021-06-24 02:25] softboy99 opened #3930 "Debugging in VS Code"
This is only documentation about Debugging in VS Code for Vue CLI & webpack. Please adding the vite alternatives. Currtly, we only debug by console.log. which is very ugly. we don't know how to set break points and debug in code editor?

[2021-06-24 02:49] stupidLast opened #3931 "如何让 webstorm 支持解析路径别名 “@”？"
`
resolve: {
    alias: {
        "@": path.resolve(__dirname, "src"),
    },
},
`
通过在 vite.config.ts 中配置以上代码，能够实现功能，但是不支持 webstorm 代码定义跳转，请问这如何解决？

[2021-06-24 02:52] cll123456 commented on #1464
thanks a lot!

[2021-06-24 03:21] #3856 closed

[2021-06-24 03:33] ygj6 commented on #3930
Refer：https://github.com/vitejs/vite/blob/main/.github/contributing.md#repo-setup
After vite is set to globally, you can breakpoint debugging on the source code.

![image](https://user-images.githubusercontent.com/7699524/123198597-f64d7900-d4df-11eb-9f92-9a90735228b0.png)

[2021-06-24 03:52] softboy99 commented on #3930
Hi,
I'm still not very clear about it. What i mean is to set breakpoints and debug my own project rather than vite itself.

[2021-06-24 03:57] ygj6 commented on #3931
目前webstorm只能识别webpack的别名，你可以试试下面这方法：
1.新建一个配置文件，比如：alias.config.js
[code]
2.webstorm设置指向这个文件
设置路径：File > Settings > Languages & Frameworks > JavaScript > Webpack

这个方法就是要创建一个多余的文件来欺骗IDE，别名两个地方都要配置。

[2021-06-24 05:51] tmeasday commented on #3778
@jrmyio / @IanVS is it not a bug in the Vite implementation of React Refresh that it doesn't check whether the default export is a component before deciding if the file is a HMR boundary? I may be missing something, but I don't see how it is logical to check every named export but ignore the default export.

For SB, if that bug (assuming it is a bug) was fixed, we wouldn't need #3916

[2021-06-24 06:22] elveahuang commented on #3931
tsconfig.json+vite-tsconfig-paths的组合看起来很完美

[2021-06-24 07:49] sodatea commented on #3931
`jsconfig.json`

https://intellij-support.jetbrains.com/hc/en-us/community/posts/360003361399-Webstorm-does-not-see-alias?page=1#community_comment_360002636080

[2021-06-24 07:49] #3931 closed

[2021-06-24 08:02] hgl opened #3934 "`export * as` is flattened in SSR"
### Describe the bug

When loading SSR, given these two files:

`entry-server.js`
[code]

`maths.js`
[code]

`vite.ssrLoadModule('/src/entry-server.js')` returns a module that directly contains the `square` function, instead of a `maths` object.

Note that [it's correctly handled by rollup](https://rollupjs.org/repl/?version=2.8.2&shareable=JTdCJTIybW9kdWxlcyUyMiUzQSU1QiU3QiUyMm5hbWUlMjIlM0ElMjJtY

[2021-06-24 08:10] cawa-93 commented on #3915
On first clear run:
[code]

Second run
[code]

If there is a problem, I can't reproduce it.

[code]

@cmdparkour I would advise you to minimize your project (exclude all JS / CSS from compilation, disable all plugins, etc.) and gradually return the functionality and tracking the time to compile. This will help to localize the problem more accurately.

[2021-06-24 08:38] 1329778364 commented on #3817
完美解决了我的问题，但是我还是想知道为什么这么解决 ，从而学到更多知识。
It solved my problem perfectly, but I still want to know why to solve it so that I can learn more.

[2021-06-24 08:41] luukdv commented on #2711
You can use `onProxyReq` like this:

[code]

[2021-06-24 09:13] sodatea commented on #3417
Subpath folder mappings are deprecated in Node.js https://nodejs.org/api/packages.html#packages_subpath_patterns so I don't think we should support it.

But yeah, subpath patterns should be supported.

[2021-06-24 09:18] sronmiz opened #3935 "expose React component in Browser api windows variable during dev server"
### Describe the bug

I get that Embeddable object inserted into window object is undefined during development, after build - the embedding works as expected.

### Reproduction

Using Vite's defaults.
index.html:
[code]
./src/index.js:
[code]

### System Info

Output of `npx envinfo --system --npmPackages vite,@vitejs/plugin-vue --binaries --browsers`:

[code]

Used package manager: yarn

Thanks f

[2021-06-24 10:16] TrySound commented on #2782
[code]

[2021-06-24 11:29] yankydoo commented on #3883
@OneNail Can you please help me understand what exactly is at fault here? Is it the typescript plugin of babel? Or is there something wrong with how it is used within '@vitejs/plugin-react-refresh'?

If the error lies outside of vitejs I would file a bug report there.

[2021-06-24 11:52] #2711 closed

[2021-06-24 11:56] #3922 closed

[2021-06-24 12:13] sodatea commented on #3839
Your dependency versions are too outdated.
Please remove `node_modules` and the lockfiles and then reinstall all the dependencies.

[2021-06-24 12:13] #3839 closed

[2021-06-24 12:31] sodatea commented on #3687
You need to ignore `node_modules` when running `COPY . .`
https://stackoverflow.com/a/43747867/2302258

It's because `esbuild` contains a binary executable, so it's platform-specific. In this case `node_modules` cannot be shared between the host OS and the container.

Maybe we should document this somewhere.

[2021-06-24 12:31] #3687 closed

[2021-06-24 13:06] #3772 closed

[2021-06-24 13:09] sodatea commented on #3051
It's because terser moves the [`preloadMarker`](https://github.com/vitejs/vite/blob/f623ba37dbc517656a7ffb10bc1b3cb221a4bc72/packages/vite/src/node/plugins/importAnalysisBuild.ts#L17) around in the 3rd pass.
The marker need to be processed by the `buildImportAnalysisPlugin` later.
Change of its position thus results in corrupted code.

[2021-06-24 13:25] jrmyio commented on #3778
@IanVS Looks great!
@tmeasday You are probably right, though I think its always nice to have an escape hatch. At first sight, the way  `@vite/plugin-react-refresh` has to detect what a react component is, and what not, seems pretty hard and complicated, it's a lot better than  what I saw `snowpack` do. I expect there are going to be more edge cases.

[2021-06-24 13:26] sodatea commented on #3796
Can't reproduce.
I don't know why your app is throwing errors.

But there is an easy way to test if the two packages uses the same `formik` dependency:
- I added `import { Formik } from 'formik'` and `FieldWrapper.Formik = Formik` to `node_modules/@litbase/alexandria/components/form/field-wrapper.js`
- And `console.log(Formik === FieldWrapper.Formik)` to `src/App.jsx`

The output is `true`, meanin

[2021-06-24 13:37] sodatea commented on #2943
Upstream issue:
https://github.com/johnsoncodehk/volar/issues/222
https://github.com/vuejs/vue-next/issues/1359

[2021-06-24 13:37] #2943 closed

[2021-06-24 14:51] OneNail commented on #3883
[code]

[code]

the `result.code` is:
[code]
babel's transform

[2021-06-24 15:06] OG84 opened #3940 "pluginContainer.formatError throws offset is longer than source length"
### Describe the bug

When i run `svelte-kit dev` while I have invalid css code (e.g. :global(...) must contain a single selector), vite is throwing `[vite] Internal server error: offset is longer than source length!` instead of the actual svelte error.

The error is thrown by `numberToPos` in `/packages/vite/src/node/utils.ts` which is called by `formatError` in `vite/src/node/server/pluginContai

[2021-06-24 15:22] dsantoro commented on #2139
I did the configuration to disable minification but seems not work for me. Still showing Minify 130 error.

[2021-06-24 17:30] leroytromp opened #3945 "vite 2.3.8 breaks CSS imports from node_modules"
### Describe the bug

After upgrading to vite 2.3.8, CSS imports from node_modules no longer work as before. The styles are loaded, but any fonts, icons, etc. that are referenced in the imported CSS file, silently fail to load. Downgrading to vite 2.3.7 solves the issue.

### Reproduction

Here is a small repo that illustrates the problem:

[https://github.com/leroytromp/vite-css-import-issue](htt

[2021-06-24 17:43] alefbragin commented on #3898
@OneNail Thanks!

The [config](https://github.com/alefbragin/vite-commonjs-test/blob/5e46379207f0216470acaf212456b672e912bbfb/vite.config.js) is works. Also I test it in my gRPC-Web project, and it seems works too.

I keep experimenting with CommonJS modules, and want to use its without the need to create local packages. And I'm facing a opposite problem. It's works in `build`, but don't in `dev`:

[2021-06-24 18:11] Faliszek commented on #2782
Awesome, thanks for that. I get around it with this hack i posted in the link below, but as you can read it in this thread, it turns out that this is now fixed
here: https://github.com/vitejs/vite/discussions/2582

and second good news is that there is vite-plugin-relay that resolve other issues, under the hood it just adds eagerEsModules  (I had no idea the relay have this option 😅) in relay and

[2021-06-24 18:13] TrySound commented on #2782
I added eagerEsModules to relay 😄

[2021-06-24 18:15] TrySound commented on #2782
Btw plugin is not very different from using `@rollup/plugin-babel` with `babel-plugin-relay`

[2021-06-24 20:01] craigrileyuk opened #3947 "CSS minification bug introduced in v2.3.8, breaking styles."
### Describe the bug

In v2.3.8 of Vite, a bug is introduced where CSS is incorrectly minified. Spaces are removed in certain places which breaks the style rules.

### Reproduction

https://github.com/craigrileyuk/vite-css-compilation-issue

### System Info

[code]

Used package manager: npm

### Reproduction Process -->

1. Run `npm run dev`
2. Click on the color picker
3. Inspect the swatch grad

[2021-06-24 20:06] patak-js commented on #3947
Thanks for the report. Duplicate of #3922, this has been solved in https://github.com/vitejs/vite/pull/3926

[2021-06-24 20:06] #3947 closed

[2021-06-24 21:13] vBread commented on #3913
+1; using Tailwind. Had to disable JIT mode for it to reload my components again.

[2021-06-25 01:30] raythurnevoid opened #3953 "Vite doesn't support ESM packages with "exports" field in SSR"
### Describe the bug

Because of this https://github.com/browserify/resolve/issues/222 issue, Vite won't parse package.json "exports" field and will throw this error for packages that doesn't use "main" field:
[code]

I tried to replace `resolve` packages with webpack's `enhanced-resolve`: https://www.npmjs.com/package/enhanced-resolve
Their base code is extremely more hure and complicated than `r

[2021-06-25 01:48] #2644 closed

[2021-06-25 01:51] sodatea commented on #3601
As we cannot reproduce the original issue, and there haven't been similar reports for a while, I'm closing this issue to keep the issue tracker clean.

Feel free to open a new issue if you can follow up with more information.

[2021-06-25 01:51] #3601 closed

[2021-06-25 02:32] aicing commented on #3945
我也遇到这个问题了，还以为 是 Element Plus的问题呢 ^_^
也是降级到 v2.3.7解决的

[2021-06-25 03:05] pastelmind commented on #2623
I can attest that this is reproducible only on Windows. I scaffolded a Vite project using the `react` template, and the `vendor.*.js` contains the following line on Windows 10:
[code]
...while on Ubuntu 20.04 (WSL 2/Windows 10):
[code]

I'm having problem with Vite where build artifacts generated on Windows and Linux are different, and I suspect this is the root cause.

[2021-06-25 03:40] IndexXuan commented on #3875
https://github.com/IndexXuan/vite-plugin-vue-cli/commit/4919114d20b1964c3a0fdc63b30e72a47b4cf224
I do it in my inner plugin and the main vue-cli-plugin-vite works. Thank you very much. @ygj6

[2021-06-25 07:48] sodatea commented on #3935
I don't think it will work after `build`.

The root cause here is that module scripts are deferred by default. It executes after the inline script.

So the solution is to add the `type="module"` attribute to your inline script too.

[2021-06-25 07:48] #3935 closed

[2021-06-25 08:03] sodatea commented on #2767
I don't think it's worth adding a parsing step just for this edge case.
It makes this particular case fast but would slow everything else down.

[2021-06-25 08:11] sodatea commented on #1931
As stated in the linked documentation, it's a limitation of Rollup. https://github.com/rollup/plugins/tree/master/packages/dynamic-import-vars#limitations

Nothing we can do here in Vite. So I'm closing this issue.

[2021-06-25 08:11] #1931 closed

[2021-06-25 08:16] sodatea commented on #3833
This issue is similar to https://github.com/vitejs/vite/issues/2522#issuecomment-800244209

[2021-06-25 08:37] sodatea commented on #3250
`@tabler/icons` doesn't have `icons/settings.svg` specified in their `exports` field. So it is hidden from external users. Vite is working as expected.

The error message has been improved in the latest version, too:
[code]

[2021-06-25 08:37] #3250 closed

[2021-06-25 09:16] Arthur944 commented on #3796
@sodatea I just tried this on my machine and `console.log(Formik === FieldWrapper.Formik)` returned false. I suspect the issue might have to do with the operating system. On a Mac it seems to work fine for me too.

[2021-06-25 09:16] sodatea commented on #3899
Closing as the corresponding PR has been merged. It will be fixed in the next release.

[2021-06-25 09:16] #3899 closed

[2021-06-25 09:29] sodatea commented on #3796
It prints `true` on my Windows 10 VM.
Maybe it's caused by incorrect dependency hoisting by the package manager?
How about running `yarn --frozen-lockfile` and try again?

[2021-06-25 10:50] davidbonnet commented on #2767
Indeed, I should provide some stats. We are comparing milliseconds (parse and compare single file in current process) to seconds (spawn process, parse and compile several files).

[2021-06-25 13:37] mitow7821 opened #3958 "Unable to build app beacuse of top level await"
### Describe the bug

I'am using top level await in js file, then i export result to vue/other files. If i log imported result on development everyting work but when i try to build this error shows:

![image](https://user-images.githubusercontent.com/34492112/123431598-b8c51a80-d5c9-11eb-98be-e77cbaaae61c.png)

### Reproduction
- export await result from js file `export const data = await fetch("/

[2021-06-25 17:28] KaelWD opened #3963 "Vite doesn't transpile plugins listed in devDependencies"
### Describe the bug
I'm using https://github.com/frandiox/vite-ssr with vue 3, and the ssr build will not work unless `vite-ssr` is in the project's `dependencies`. This is not suitable for my project because it is a library and we don't want to make our users install dependencies that we only use for development.

### Reproduction

https://github.com/KaelWD/vite-ssr-test

Move `vite-ssr` from `d

[2021-06-25 17:43] aleclarson commented on #3800
Closing due to lack of response

[2021-06-25 17:43] #3800 closed

[2021-06-25 17:48] aleclarson commented on #2862
You cannot add CommonJS dependencies to `optimizeDeps.exclude`.

There's a PR that will clarify this in the docs: https://github.com/vitejs/vite/pull/3961

[2021-06-25 17:48] #2862 closed

[2021-06-25 17:57] frandiox commented on #3963
To add some more information, `vite-ssr` plugin is adding an alias to rewrite `import X from 'vite-ssr'` to `import X from 'vite-ssr/vue/entry-client.js`. This piece does not work if it is a dev-dependency (it simply says that it could not find module `'vite-ssr'`).
Also, even if you import directly from `vite-ssr/vue/entry-client.js`, it won't work because it looks like Vite does not transpile th

[2021-06-25 18:03] dominikg opened #3964 "simplify creating plugins with @vitejs/create-plugin"
### Clear and concise description of the problem

Even though the vite docs are awesome and there are quality plugins out there to take a look at, starting a plugin from scratch can be tedious, especially when it is your first vite plugin.

### Suggested solution

Create a new package `@vitejs/create-plugin` that allows you to start a new plugin with a single command

Initially there would be a si

[2021-06-25 18:06] #2820 closed

[2021-06-25 18:06] #3373 closed

[2021-06-25 18:07] #3670 closed

[2021-06-25 18:20] antfu commented on #3963
I'd think this is expected behavior. For plugin could extend the configure to set `optimizeDeps.include` for their client code.

[2021-06-25 18:26] #3818 closed

[2021-06-25 18:26] KaelWD commented on #2662
Copying the default export replace block to line 220 fixes it for me

https://github.com/vitejs/vite/blob/fbecf1e5349ea5da8ff6f194efdcb152e2995398/packages/plugin-vue-jsx/index.js#L196-L202
https://github.com/vitejs/vite/blob/fbecf1e5349ea5da8ff6f194efdcb152e2995398/packages/plugin-vue-jsx/index.js#L219-L227

[code]

[2021-06-25 18:36] KaelWD commented on #3963
I disagree. How am I supposed to use this plugin for development without making my users install it?

[2021-06-25 18:45] antfu commented on #3963
Vite treat `dependencies` as client side and `devDependencies` as node side. Entries `dependencies` will be optimized on startup.

Beside that, you can always configure them with `optimizeDeps.include`
https://vitejs.dev/guide/dep-pre-bundling.html#customizing-the-behavior

[2021-06-25 18:48] johnleider commented on #3963
I completely disagree with this. We are building Vuetify SSR with Vite and it's a bit ridiculous that we're expected to include this as a dependency.

Could we put more than 2 seconds into a discussion before closing it?

[2021-06-25 18:49] KaelWD commented on #3963
I tried `optimizeDeps.include`, doesn't make a difference. Looks like vite is marking devDependencies as external: https://github.com/vitejs/vite/blob/330c94c4355e4f091e6e4f46c6a47dbfba410e40/packages/vite/src/node/ssr/ssrExternal.ts#L30-L33

[2021-06-25 18:58] antfu commented on #3963
Misunderstood your usage, but this configure should works for you then

[code]

[2021-06-25 19:12] KaelWD commented on #3963
Ok that does work, it still seems like unintuitive behaviour to me though.

@frandiox is it possible for vite-ssr to do that automatically?

[2021-06-25 19:37] frandiox commented on #3963
@KaelWD Check if `0.10.5` works 👍

Thank you @antfu !

[2021-06-25 20:24] patak-js commented on #3964
I like this idea, I'll bring it to the table in the next team meeting.

[2021-06-25 21:54] #3963 closed

[2021-06-25 22:28] subblue commented on #3592
Same here, I've dropped back to v2.2.4 for the moment.
v2.3.0 introduced some [breaking changes](https://github.com/vitejs/vite/blob/main/packages/vite/CHANGELOG.md#230-2021-05-11) but I didn't have any luck with the suggested workaround of using the [`dynamic-import-polyfill`](https://github.com/antfu/vite-dynamic-import-polyfill-example) - has anyone else had better luck?

[2021-06-26 01:34] thekevinbrown commented on #898
@qnp nope, haven't had a chance to look at it yet.

[2021-06-26 02:55] sodatea commented on #3958
The error message is quite clear IMO.

Top-level await is only supported in these new browser versions.
You can change the browser target following the documentation: https://vitejs.dev/guide/build.html#browser-compatibility

[2021-06-26 02:55] #3958 closed

[2021-06-26 04:22] hxdyj commented on #3336
@Hisioni
I find the way.
1. You need to fork vite and modify file `/packages/vite/src/node/plugins/css.ts `:
[code]

2. Biuld project and copy `/packages/vite/node`  to your project `node_modules/vite/dist/`，  cover `node_modules/vite/dist/node` folder.
3. Now can works.

[2021-06-26 05:30] 1329778364 commented on #3817
when I run npm build  get this problem
![image](https://user-images.githubusercontent.com/19623957/123502990-aeb32280-d682-11eb-9553-028e886626ad.png)

[2021-06-26 08:56] sadeghbarati opened #3971 "Apply Plugin to Specify Entry Point"
### Clear and concise description of the problem

Apply vite or rollup plugins to specify entry

### Suggested solution
for example `index.html` as entry
[code]

### Alternative
`build.rollupOptions`

### Additional context
already create [discussion](#3970) and have a test case, if you not interested in this feature request please check the discussion link

thanks

[2021-06-26 09:10] asaf commented on #3737
this is important, without this it's impossible to run vite behind an https proxy,

I had to workaround this by patching [client.js](https://github.com/vitejs/vite/blob/main/packages/vite/src/client/client.ts#L28):

[code]

[2021-06-26 11:06] patak-js commented on #3853
Duplicate of #3737

[2021-06-26 11:06] #3853 closed

[2021-06-26 11:59] Snugug opened #3972 "Combined assets for multi-page apps"
### Clear and concise description of the problem

When building multi-page apps from some kind of templating, it's possible to wind up with hundreds of pages each calling identical assets. With other bundling solutions, this isn't a problem; you generate the shared assets once and have each file use the same generated output. With Vite, if you put multiple HTML files in as input, you'll get multip

[2021-06-26 12:04] Snugug opened #3973 "Dropping empty chunks for multi-page apps"
### Clear and concise description of the problem

When building multi-page apps, especially when using templating, it's possible to generate an HTML file that doesn't include any JavaScript. When trying to get those files through the rest of Vite's transforms as an input, Vite will generate an empty JavaScript file/chunk.

### Suggested solution

When generating a JavaScript chunk, whose only depe

[2021-06-26 12:08] patak-js commented on #3973
Duplicate of https://github.com/vitejs/vite/issues/3127, let's discuss there about the different aproaches

[2021-06-26 12:08] #3973 closed

[2021-06-26 12:42] Niputi commented on #3817
have created a pull request to your reproduction showing working dev and build for me

[2021-06-26 14:57] JuneXuli commented on #779
``> For sad wanderers looking for ie11 support - along with the plugin by aleclarson, there's now an official plugin available: [@vitejs/plugin-legacy](https://github.com/vitejs/vite/tree/main/packages/plugin-legacy).

When I use this plugin, it shows error in IE11 as below
![image](https://user-images.githubusercontent.com/10702321/123517050-bc43c900-d6d1-11eb-8180-239bfe528116.png)

My vite.conf

[2021-06-26 16:01] shirakaba opened #3977 "When switching route on macOS (and possibly also iOS) Safari, the error "TypeError: bu.unmask is not a function" occurs, killing the vite server."
### Describe the bug

In macOS Safari, when switching route (i.e. by clicking a link such `<a sveltekit:prefetch="" href="/nouns-1-mora" class="s-Xvih31qJPb_c">1-mora nouns</a>`, or by updating the URL bar manually), the error `TypeError: bu.unmask is not a function` appears, killing the dev server. The full error log is provided at the bottom of the issue.

As well as macOS Safari, the issue also

[2021-06-26 18:52] sadeghbarati commented on #3971
@antfu @wheatjs @patak-js

any suggestion for this problem ?
I'm a normal developer I just mention this feature

---

These are the ways that come to my mind:

1.multiple vite config file: `vite.config.js` and `vite.rtl.config.js`
2. [vite javascript api](https://vitejs.dev/guide/api-javascript.html)

which I don't know how to use both ways
second-way doesn't have quite a documentation (for newbie

[2021-06-26 19:52] vospascal commented on #148
Esbuild is going to support it I read some where might help since vite uses esbuild right ? https://esbuild.github.io/faq/#upcoming-roadmap

[2021-06-26 20:05] patak-js commented on #148
Module federation is out of esbuild scope. From the esbuild roadmap:

[2021-06-26 20:52] antfu commented on #3971
I am not sure if this is something we'd like. To me, this adds much more complexity and I don't see it really useful (there will have a lot of internal plugins for both vite core and 3rd party plugins, which I don't think it make sense to list them all).

FYI, `vite.config.ts` does allow to export a function to provide different setup based on the environment. Meanwhile, you can also use plugin to

[2021-06-26 20:52] #3971 closed

[2021-06-26 20:59] #2662 closed

[2021-06-26 21:27] vospascal commented on #148
https://github.com/jacob-ebey/esbuild-federation-example

[2021-06-26 21:32] sadeghbarati commented on #3971
Thanks for response but

A simple vite config example would be nice

[2021-06-26 21:53] antfu commented on #3971
https://vitejs.dev/config/#conditional-config

[2021-06-26 21:59] ScriptedAlchemy commented on #148
Yeah we were able to get share scope working between webpack and esbuild. So your host could be esbuild and work interchangeably with remote modules that are webpack.

Some challenges still face us to get the exposed module side working

[2021-06-26 22:12] #3934 closed

[2021-06-26 22:17] #3303 closed

[2021-06-27 00:01] #3371 closed

[2021-06-27 00:01] #3600 closed

[2021-06-27 00:43] elycheikhsmail commented on #109
vite distingue two thing deps and src code
vite transform node to esm module in node/.vite directory this step not needed in deno ecosys because we all or most npm pkg transformed to esm in skypack.dev (for exemple ) and we don't to do it in our local machine but scr bundle on the fly is usefull for deno-frontend if is possibke

[2021-06-27 02:12] hgl commented on #3048
This also happened for me a couple times, but it's random. Usually after a refresh the error is gone.

From the error message it seems the error comes from:

https://github.com/vitejs/vite/blob/b1e73951ed402a64882fb771bf433938ad171e19/packages/vite/src/node/ssr/ssrModuleLoader.ts#L127-L142

More specifically, I believe `ssrImport` (or `__vite_ssr_import__`) can sometimes return `null`.

I'll see i

[2021-06-27 02:29] benatkin commented on #109
I think perhaps that generating code to be run by Deno is just as outside of scope for Vite as getting it to run on Deno. It probably would be useful for Deno to have something like Vite to bundle modules, but it isn't aligned with the goals of Vite.

I'm interested in both Vite and Deno, and I think it would be interesting if a new project were built for Deno that is similar to Vite. Since it wou

[2021-06-27 02:41] guohuihot commented on #830
这么长时间了，vite还是不行啊

[2021-06-27 05:39] zoubingwu opened #3980 "css `url()` assets in html not handled in build process"
### Describe the bug

writing css style in html entry file with followings:

[code]

Only works in dev mode.
The bg-texture.jpg won't be hashed and copied to the build output dir. Run `yarn serve` then you can see a 404 error complaining about can't find bg-texture.jpeg.

![image](https://user-images.githubusercontent.com/18644268/123534069-ebe3e700-d74c-11eb-871f-fb1106ab45c3.png)

### Reproducti

[2021-06-27 06:05] underfin commented on #3876
This is expected behavior, because you external some library, you should load it by yourself.

[2021-06-27 06:05] #3876 closed

[2021-06-27 07:15] hxgqh opened #3981 "[vite] Internal server error: Cannot read property 'url' of undefined Plugin: vite:import-analysis"
### Describe the bug

1. Create a vue page file in project;
2. Open browser, and view this file url;

It will happen randomly.

### Reproduction

It's very difficult to reproduce. After restart vite server, the error will also disappear.

moduleGraph.getModuleById called, but id is null. Vue file DO exist.

### System Info

[code]

### Used Package Manager

yarn

### Logs

_No response_

### Valid

[2021-06-27 09:14] yaohuangguan opened #3982 "vite devServer 404"
### Describe the bug

![image](https://user-images.githubusercontent.com/43796777/123539083-8e5e9300-d76a-11eb-9d44-2c7297c25369.png)
![image](https://user-images.githubusercontent.com/43796777/123539093-961e3780-d76a-11eb-8cc4-7c125336dbb1.png)
![image](https://user-images.githubusercontent.com/43796777/123539098-9ae2eb80-d76a-11eb-8870-c32374ad00cd.png)

what is this interesting bug?   terminal

[2021-06-27 14:03] drdilyor commented on #3913
hacked  @onenail 's pr into node_modules and issue fixed, thank you  a lot! we have to wait for devs to merge it now

[2021-06-27 15:07] OneNail commented on #3982
you should move the index.html out of src

[2021-06-27 15:08] Jairwin-L commented on #3037
antd使用DatePicker报错`ReferenceError: require is not defined`
![image](https://user-images.githubusercontent.com/32570960/123549496-ea8ddb00-d79b-11eb-8ec0-a1557da8227b.png)
reproduction repo：https://github.com/Jairwin-L/vite-react-ts-demo/blob/62627712d7c9d3a05531799cf1f77ac0a32321e8/src/pages/demo.tsx#L34

感谢🙏： @sodatea @Shinigami92 @underfin @psaren

[2021-06-27 15:09] #3982 closed

[2021-06-27 15:30] raythurnevoid opened #3983 "Vite ssr should transform external module source before executing it when it hasn't js content"
### Describe the bug

When dealing with non-js external dependencies, Vite will throws errors stating that it cannot parse it.
I'm talking specifically about SSR with svelte and svelte-kit.
I'm trying to import an external dependency that contains a .svelte module.

A possible workaround to this issue is to add the the module that is causing the problem in the `optimizeDeps.include` array, but as

[2021-06-27 18:03] DreierF commented on #3945
I tried to reproduce the issue with the supplied repository, but it works for me running
[code]
The icons show up as expected AFAICS
![image](https://user-images.githubusercontent.com/5631865/123554912-bfe35880-d782-11eb-90cc-37cd3b08bb78.png)

I'm running on MacOS, so this might be a Windows specific issue.

[2021-06-27 18:16] leroytromp commented on #3945
@DreierF then it indeed seems to be a Windows specific issue, because executing the same commands that you did, gives me an incorrect font and missing icons.

![Schermopname (193)](https://user-images.githubusercontent.com/84224065/123555210-962b3100-d784-11eb-8941-475dcd43a834.png)

[2021-06-27 19:56] Thomasan1999 opened #3984 "Stylus @import url() not working"
### Describe the bug

When I try to import Google Fonts or any external URL via `@import url('https://...')` in Stylus, it throws an error: `Cannot read property 'isNull' of undefined`.

[code]

It works in Webpack with Vue 2 when I use the same Stylus version, that's why I think it's related to Vite and not Stylus.

### Reproduction

1. Create a Vue component with `<style lang="stylus">`
2. Impor

[2021-06-27 21:14] #2493 closed

[2021-06-28 01:31] xuxian02092213 opened #3989 "vite 2.3.8 配合element plus，el-icons图标无法显示"
### Describe the bug

开发环境：uos
vite 2.3.8 配合element plus，el-icons图标无法显示，测试2.3.7正常，通过比较编译后的文件发现
2.3.8编译的结果：
@font-face {
        font-family: element-icons;
        src: url(./element-icons.9c88a535.woff) format("woff") url(./element-icons.de5eb258.ttf) format("truetype");
        font-weight: 400;
        font-display: auto;
        font-style: normal
    }
2.3.7编译结果：
 @font-face {
        font-fa

[2021-06-28 01:46] mukaschultze commented on #3847
I'm having the same issue trying to import an npm package created using `wasm-pack` with Rust code.

[2021-06-28 02:29] ygj6 commented on #3984
It's a bug of upstream `stylus`. I have tried to call `stylus.deps()` directly, and the same error occurred.
[code]
Seems to be related to this line of code：https://github.com/stylus/stylus/blob/59bc665db295981d4e3f702e7275c5589a3c6d15/lib/visitor/deps-resolver.js#L113

[2021-06-28 02:30] OneNail commented on #3989
This pr #3926  may solve this.

[2021-06-28 02:52] plashenkov commented on #3737
Hmmm, for some reason, using `server.hmr.port = 443` works for me. I'm using Vite dev server behind an nginx, and autoreloading seems to work. I do not know internals though.

Nginx config:
[code]

Vite config:

[code]

Also, on my local dev machine Vite dev server throws an error when `server.port = 80` (as expected), but it starts without problem when `server.hmr.port = 80`. Does this mean that

[2021-06-28 03:11] plashenkov opened #3995 "base option: breaks native vue-router redirect"
### Describe the bug

Let's use vue-router and its `base` option:

[code]

This gives us a nice redirect from `/admin` to `/admin/`.

But now let's add Vite `base` option:

[code]

It doesn't matter whether you use `/admin/`, `/admin` or even `admin` as a base. The result is the same: we do not have the vue-router redirect anymore, but a message in the browser window when trying to access `/admin`

[2021-06-28 03:51] ikeq commented on #3532
A temporary workaround [vite-plugin-resolve-extension-vue](https://github.com/ikeq/vite-plugin-resolve-extension-vue).

[code]

[2021-06-28 05:09] Pinpickle commented on #3678
@patak-js @antfu I'm still seeing this issue on `2.4.0-beta.0` - if I'm not mistaken, #3656 should be in that version?

[2021-06-28 05:55] wobsoriano commented on #330
You can check this out https://github.com/wobsoriano/use-unmount-signal

[2021-06-28 06:16] iztsv commented on #3924
the same issue for vue vite

[2021-06-28 06:18] sodatea commented on #3989
Fixed in v2.4.0-beta.0

[2021-06-28 06:18] #3989 closed

[2021-06-28 07:03] chaosprint opened #3996 "The default Vite Svelte project cannot run"
### Describe the bug

Try to initialise a vite + sveltejs project on Windows 10. But the default code fails to run.

### Reproduction

[code]

### System Info

[code]

### Used Package Manager

npm

### Logs

[code]

### Validations

- [X] Follow our [Code of Conduct](https://github.com/vitejs/vite/blob/main/CODE_OF_CONDUCT.md)
- [X] Read the [Contributing Guidelines](https://github.com/vitejs/vit

[2021-06-28 07:23] chaosprint commented on #3996
Fixed by updating `Node.js` version to `14.17.1`.

[2021-06-28 07:23] #3996 closed

[2021-06-28 08:17] kolchurinvv commented on #1800
This is still yarn only. kinda bummer.

[2021-06-28 08:22] chaosprint commented on #3834
perhaps this should be optional or asked in prompt.

As having `"type": "module"` causes errors for other stuff such as this:
https://github.com/windicss/windicss/issues/368

[2021-06-28 08:30] jzwyz opened #3997 "Uncaught TypeError: Cannot read property 'constant' of undefined"
### Describe the bug

Upgrade vite to 2.3.8, access to the packaged program through the preview will report an error
Suspected lodash-es is not included
![image](https://user-images.githubusercontent.com/32916897/123594949-e8229400-d822-11eb-8d13-395243ee7754.png)
[](url)
![image](https://user-images.githubusercontent.com/32916897/123595379-6aab5380-d823-11eb-911c-d62a13cfc194.png)

### Reproducti

[2021-06-28 08:33] dominikg commented on #3834
see my response there, and also the discussions of this PR https://github.com/vitejs/vite/pull/3835   type: module is the default for svelte projects. You can remove it if you don't want to use it but i don't think this should be made optional. (Would require work on create-app and also on other templates)

[2021-06-28 08:34] chaosprint commented on #3834
Thanks!

[2021-06-28 08:54] OneNail commented on #3716
#3929 this pr can solve this.

[2021-06-28 09:02] powercandy commented on #3924
vite: 2.2.0

the same issue

[2021-06-28 09:13] OneNail commented on #3913
same issue #3716

[2021-06-28 09:19] youzizi1 commented on #3924
i also meet the same problem

[2021-06-28 09:39] director-zhou opened #3998 "Pre build problem of ES build"
### Describe the bug

When pre building, go to filter: / ^ [[w @] [^:] /, and the. Vue suffix will not be recognized. You need to return again to add spcename

### Reproduction

![image](https://user-images.githubusercontent.com/86048399/123614180-ac91c500-d836-11eb-8e16-4fb4788012cc.png)
![image](https://user-images.githubusercontent.com/86048399/123614237-ba474a80-d836-11eb-9b4f-2e12682adadf.png

[2021-06-28 11:04] adil-waqar commented on #2139
Likewise. How do we get proper errors with stack traces in production? Preferably like CRA.

[2021-06-28 11:14] Thomasan1999 commented on #3984
Thanks for the response. You're right. At least, I've found a workaround.

[code]
That way, Stylus doesn't compile it.

[2021-06-28 12:23] klarkc commented on #109
@benatkin I don't know if it's similar somehow to Vite (because I still did not tested) but there is this alternative: https://github.com/open-source-labs/vno

[2021-06-28 12:39] fwouts opened #4000 "PostCSS plugins cannot be resolved when root != cwd"
### Describe the bug

When running the Vite server with a root other than `cwd`, PostCSS is unable to find its plugins.

As far as I understand, this happens because `postcss-load-config` uses `import-cwd` to load plugins: https://github.com/postcss/postcss-load-config/blob/170ec7735f9c1df2f81b068988d81d351fead0a1/src/plugins.js#L16

### Reproduction

I created a repo to make it easy to reproduce:

[2021-06-28 12:42] fwouts commented on #4000
A possible solution I have in mind is to run `process.chdir(rootDir)` just before invoking `postcssrc` [here](https://github.com/vitejs/vite/blob/f3643d8e74db07a0c3014987e8c87d4fec31f5a9/packages/vite/src/node/plugins/css.ts#L748) (probably using the sync version so it cannot interfere with anything else), then reverting it back to its previous value.

Alternatively, maybe `postcss-load-config` co

[2021-06-28 13:11] fwouts commented on #4000
FYI I spent some time investigating why `process.chdir(root)` broke the imports, and it looks like it's because `needsInterop()` starts returning `true` instead of `false` for some packages, such as `jotai`. I believe the specific line where the behaviour changes is [this one](https://github.com/vitejs/vite/blob/f3643d8e74db07a0c3014987e8c87d4fec31f5a9/packages/vite/src/node/optimizer/index.ts#L33

[2021-06-28 13:30] plashenkov commented on #3737
Okay, if I understand the code correctly, in standard, non-middleware mode, there is no separate server for HMR created (until you specially create it and specify in `server.hmr.server` option):

https://github.com/vitejs/vite/blob/24178b05825245b9f36b5a8e4730996184cc7e8e/packages/vite/src/node/server/ws.ts#L26-L38

And here you can see that the `server.hmr.port` option is taken (see the line afte

[2021-06-28 14:16] #3913 closed

[2021-06-28 14:25] IanVS opened #4002 "[2.4.0-beta.0] New typescript errors for css and import.meta.env"
### Describe the bug

I attempted an upgrade to vite 2.4.0-beta.0, and I've now started to get two types of typescript errors which I did not have before.

CSS imports:

[code]

And

[code]

I have `"types": ["vite/client"],` in my `tsconfig.json`, but the vite client types don't seem to be picked up.  I get `Cannot find type definition file for 'vite/client'.`

### Reproduction

https://codesandb

[2021-06-28 15:30] asfktz commented on #3254
Also present in 2.3.8

[2021-06-28 16:20] #3817 closed

[2021-06-28 18:05] 1329778364 commented on #3817
You are so cool.

[2021-06-28 19:12] IanVS opened #4005 "[2.4.0-beta.0] Breaks react-query devtools (React context change?)"
### Describe the bug

I attempted to upgrade my app to vite 2.4.0-beta.0, but now I get the error:

[code]

I verified that downgrading to vite 2.3.8 resolves the error, and have created a minimal reproduction.

### Reproduction

https://github.com/IanVS/vite-2.4.0-react-query-issue

### System Info

[code]

### Used Package Manager

npm

### Logs

_No response_

### Validations

- [X] Follow our

[2021-06-28 20:35] #4002 closed

[2021-06-28 21:29] dbpolito commented on #3945
I can reproduce this on Mac, i use a project with ElementUI and it's fonts stopped to work... Interesting that FontAwesome still works...

[2021-06-29 00:56] ygj6 commented on #3998
Same issue as https://github.com/vitejs/vite/issues/3532. And here is the PR https://github.com/vitejs/vite/pull/3534

[2021-06-29 01:21] caijiehong opened #4007 "base path in preview command doesn't match build command"
### Describe the bug

We can see "preview" command was design to preview the file create by “build” command.
But "preview" hardcode the “mode” option to “development”.(https://github.com/vitejs/vite/blob/main/packages/vite/src/node/cli.ts#L215)

So, the “base” option take the wrong choice when we set “base” different by “mode”

### Reproduction

[code]

run `vite build` , we got the base `/base_pr

[2021-06-29 01:33] softboy99 commented on #3930
Hi,
How to debug project created with vite?

[2021-06-29 02:01] jzwyz commented on #3997
@sodatea

Reproduction

[codesandbox](codesandbox)

[github](https://github.com/jzwyz/demo-vite/tree/main)

[2021-06-29 02:11] jzwyz commented on #3997
`npm run dev` can be accessed normally.

The code after `npm run build` cannot be accessed through `npm run serve` preview.

Putting `dist` in nginx also can't access

Check the browser console and throw the above exception:

[code]

[2021-06-29 02:39] director-zhou commented on #3998
ok

[2021-06-29 03:33] sodatea commented on #3997
Same as https://github.com/vitejs/vite/issues/3426#issuecomment-851503677

[2021-06-29 03:33] #3997 closed

[2021-06-29 04:02] cmdparkour opened #4012 "2.7.8 can't load the woff or ttf when i use element-plus"
### Describe the bug

when i use version 2.7.7, it work as i want
but i use version 2.7.8, i can't see any icon from element-plus
the important i do is：

import 'element-plus/lib/theme-chalk/index.css'
in main.js

it may be a bug from 2.7.7 to 2.7.8

### Reproduction

nothing

### System Info

[code]

### Used Package Manager

yarn

### Logs

[code]

### Validations

- [X] Follow our [Code of Cond

[2021-06-29 04:03] cmdparkour commented on #4012
this is my demo address: https://github.com/cmdparkour/vue-admin-box

[2021-06-29 04:09] IanVS commented on #4005
Through the use of `git bisect` and using one of the playgrounds in this repo to reproduce the issue, I've narrowed down the start of the error to https://github.com/vitejs/vite/pull/3753.

[2021-06-29 04:34] IanVS commented on #4005
I did a little more digging, and it seems that before the change in the PR I referenced, `react-query` from within `node_modules/react-query/es/devtools` would resolve to `/node_modules/react-query/es/index.js`, now, with those changes, it resolves to `node_modules/react-query/lib/index.js`.  That seems to be the cause of the issue I'm seeing.

[2021-06-29 06:27] odex21 opened #4014 "[2.4.0-beta.1] Break nested module resolve"
### Describe the bug

`@vueuse/router` import a cjs version `vue-router`
![image](https://user-images.githubusercontent.com/38051167/123747079-051f9b80-d8e5-11eb-8996-b894b02c5db7.png)

### Reproduction

https://github.com/odex21/vite-2.4.0-beta.1-repo

[code]

### System Info

[code]

### Used Package Manager

yarn

### Logs

_No response_

### Validations

- [X] Follow our [Code of Conduct](http

[2021-06-29 07:05] patak-js commented on #4014
Probably same as #4005, see PR being reviewed https://github.com/vitejs/vite/pull/3753

[2021-06-29 08:29] #3426 closed

[2021-06-29 08:52] xingxiuyi opened #4016 "vite build error: Identifier '__vitePreload' has already been declared"
### Describe the bug

Vite library mode (format:es) generates `__vitePreload` function for async import.

When the package is used as a dependency, an error will occur:

`Error: Identifier '__vitePreload' has already been declared`

I created a temporary project to verify the bug: https://github.com/xingxiuyi/test-vite-async-import

**project: `async-lib`**

If `const value = await import ("some_p

[2021-06-29 09:06] FelixIncerta commented on #3924
I also have the same problem with React

[2021-06-29 09:11] ygj6 commented on #3980
You can place  `bg-texture.jpeg` in `<root>/public` dir.  It will be served at root path / during dev, and copied to the root of the dist directory as-is. Here is a detailed explanation https://vitejs.dev/guide/assets.html#the-public-directory .
[code]

[2021-06-29 09:50] softboy99 commented on #3089
Hi,
same error message occurred in v2.4.0-beta.1:Uncaught SyntaxError: The requested module '/node_modules/.vite/vue.js?v=e5663ae3' does not provide an export named 'createBlock'

[2021-06-29 09:52] patak-js commented on #3089
Please open a new issue with a proper reproduction

[2021-06-29 10:50] dominikg commented on #4012
possibly a duplicate of https://github.com/vitejs/vite/issues/3945

also please note that there is no vite version 2.7, did you mean 2.3?

[2021-06-29 12:46] #4005 closed

[2021-06-29 12:46] #4012 closed

[2021-06-29 12:58] patak-js commented on #4012
@cmdparkour would you check that your issue is resolved in vite@2.4.0-beta.2 (just released)?

[2021-06-29 12:58] patak-js commented on #4014
@odex21 would you check if your issue is resolved in vite@2.4.0-beta.2 (just released)?

[2021-06-29 13:30] khalwat opened #4023 "Inclusion of `@vite/client.js` for backend integrations"
### Describe the bug

Is the documentation still correct here regarding the inclusion of `@vite/client.js` ? -> https://vitejs.dev/guide/backend-integration.html#backend-integration

It seems like the client is automatically included in many cases, so adding it to via `<script>` tag:
[code]
causes errors like:
[code]

So I'm assuming the docs should be revised? Is the client automatically included

[2021-06-29 13:40] Ky6uk opened #4024 "Some CSS compiles wrongly (missed space in some cases)"
### Describe the bug

I've tried to create a new Vite app and have added some styles inside the component. After CSS generation I've got wrongly generated CSS (no space between some rules).

I'm not sure it's a Vite-related bug. I can't reproduce it directly on the Vue SFC playground. It's a possible bug in a third-party compiler.

### Reproduction

[There's](https://github.com/Ky6uk/vite-scss-bug

[2021-06-29 14:29] OneNail commented on #4024
2.4.0-beta.1 works fine

[2021-06-29 14:30] JesusTheHun commented on #88
There is a plugin for that now : https://github.com/aleclarson/vite-tsconfig-paths . No more workaround :)

[2021-06-29 14:52] underfin commented on #4024
Thanks @OneNail clarity it, please have a try with new version.

[2021-06-29 14:52] #4024 closed

[2021-06-29 15:21] underfin commented on #3998
Duplicated of #3532.

[2021-06-29 15:21] #3998 closed

[2021-06-29 15:30] wellfrog16 commented on #3033
I have the same question when i use store and axios in route beforeEach

[2021-06-29 15:47] odex21 commented on #4014
Yes, it works fine now in 2.4.0-beta.2

[2021-06-29 16:20] #4014 closed

[2021-06-29 18:51] modderme123 commented on #4016
See also https://github.com/vitejs/vite/issues/3662 and https://github.com/vitejs/vite/pull/3912

[2021-06-29 19:04] modderme123 opened #4025 "Vite can't find mjs imports"
### Describe the bug

When importing prettier's standalone esm, vite fails in dev mode (but not in production) with
[code]
This might be because vite is not looking for mjs files in dev mode?

### Reproduction

https://github.com/modderme123/vitebug/tree/prettier

### System Info

[code]

### Used Package Manager

pnpm

### Logs

[code]

### Validations

- [X] Follow our [Code of Conduct](https://

[2021-06-29 20:13] bgoscinski opened #4026 "Importing sass file from 3rd party lib with data url causes crash"
### Describe the bug

I'm trying to import sass file from quasar library in my project but as soon as I add proper import in any of my scss file the dev server crashes. I believe it **might** have something to do with https://github.com/sass/dart-sass/issues/1138.

I found that this change prevents sass crash:
[code]

### Reproduction

I managed to reduce the reproduction steps to this: https://gi

[2021-06-29 21:49] Flakebi opened #4027 "Code matching the import regex breaks vite"
### Describe the bug

Vite contains a heuristic to detect import sources:
https://github.com/vitejs/vite/blob/da2a41de65670b5e766c596fa81443cf2d3fdf11/packages/vite/src/node/optimizer/scan.ts#L32-L41

This works most of the time. However, if this regex matches something that is not actually an import, it breaks*.

*: There are some conditions for it to actually break:
- The vite cache in `node_mod

[2021-06-29 22:00] IanVS opened #4028 "[2.4.0-beta.2] import.meta.env does not typecheck on linux"
### Describe the bug

https://github.com/vitejs/vite/pull/4003 moved the definition of `ImportMeta` to a separate file and added a triple-slash directive to reference it.  This works fine on case-insensitive operating systems, but not on linux.  This seems to be because typescript converts the path to a lowercase string, `vite/types/importmeta`.  This is not resolved on linux, and expressions like

[2021-06-29 22:14] KMathisGit opened #4030 "[vite:build-html] EISDIR: illegal operation on a directory, read"
### Describe the bug

Build process fails if html contains an image tag with a blank src attribute:
[code]
Results in the following npm console error:
[code]

Full npm debug log:

[code]

### Reproduction

See bug description.

### System Info

[code]

### Used Package Manager

npm

### Logs

_No response_

### Validations

- [X] Follow our [Code of Conduct](https://github.com/vitejs/vite/blob/mai

[2021-06-30 01:06] softboy99 commented on #3089
Hi,
tried v2.4.0-beta.2, It's ok now.

[2021-06-30 01:16] softboy99 commented on #3914
Hi,
It's ok now in debug mode. But when build for production, the problem still exists.

[2021-06-30 01:38] ebeloded commented on #2550
@Shinigami92 this issue doesn't have the PR anymore

[2021-06-30 02:04] qw789 commented on #3089
thanks,softboy

[2021-06-30 02:28] sodatea commented on #4025
Don't use `prettier/esm/standalone.mjs`, it's not a proper ESM module.

[2021-06-30 02:28] #4025 closed

[2021-06-30 02:35] oliyg opened #4033 "rollup-plugin-dynamic-import-variables PLUGIN_ERROR Unexpected token (1:0)"
@rollup/plugin-dynamic-import-vars is already included in Vite. The repro is too big to test a particular issue and it is currently outdated. Please open a new issue with a minimal reproduction against the latest Vite version if you still have a problem.

_Originally posted by @patak-js in https://github.com/vitejs/vite/issues/2330#issuecomment-808962036_

[2021-06-30 02:36] oliyg commented on #4033
I'm trying to use vite to build my vue2 project. I got stuck when I build the project. I use vite js API followed instructions from the [official website](https://vitejs.dev/guide/api-javascript.html#build) and I got the following error messages. Here is the [reproducation project](https://github.com/oliyg/vite-reproduction).

vite v2.3.8 building for production...
transforming...
✓ 1 modules tran

[2021-06-30 02:36] oliyg commented on #4033
System:
    OS: macOS 11.1
    CPU: (8) x64 Intel(R) Core(TM) i5-8257U CPU @ 1.40GHz
    Memory: 1.76 GB / 16.00 GB
    Shell: 5.8 - /bin/zsh
  Binaries:
    Node: 15.5.0 - ~/.nvm/versions/node/v15.5.0/bin/node
    Yarn: 1.22.10 - ~/.nvm/versions/node/v15.5.0/bin/yarn
    npm: 7.3.0 - ~/.nvm/versions/node/v15.5.0/bin/npm
  Browsers:
    Chrome: 91.0.4472.114
    Safari: 14.0.2
  npmPackages:
    v

[2021-06-30 02:37] #4033 closed

[2021-06-30 02:37] oliyg opened #4036 "rollup-plugin-dynamic-import-variables PLUGIN_ERROR Unexpected token (1:0)"
### Describe the bug

I'm trying to use vite to build my vue2 project. I got stuck when I build the project. I use vite js API followed instructions from the [official website](https://vitejs.dev/guide/api-javascript.html#build) and I got the following error messages:

vite v2.3.8 building for production...
transforming...
✓ 1 modules transformed.
SyntaxError: Unexpected token (1:0)
    at Parser.

[2021-06-30 02:54] sodatea commented on #4025
The error trace:
[code]

The `require` semantics should follow Node.js heuristics, which is specified in this document:
https://nodejs.org/api/modules.html

Specifically, `.cjs` extensions can't be omitted, and `.mjs` files can't be `require`d.

---

I don't know why `@rollup/plugin-commonjs` is so tolerant here that it preserves all `require` calls in `standalone.mjs`. But even though it's succes

[2021-06-30 02:59] OneNail commented on #4036
`plugins` should not be placed in `output`, try it like this
[code]

[2021-06-30 03:22] fezzl commented on #3576
Is this problem solved?

[2021-06-30 03:22] sknightq commented on #1930
Thanks for the code of @jmheretik. I'm using this in postcss.config.js.
I want to change the URL of the CSS background in postcss.config.js. However, the URL prefix is set in .env file. And postcss.config.js can't get variables from import.env(vite export)

[code]

[2021-06-30 03:29] raythurnevoid opened #4037 "builtin-modules doesn't include fs/promises causing vite failing to recognize builtin module"
### Describe the bug

`fs/promises` isn't included in the given array but it is in `import { builtinModules } from 'module';`:

![image](https://user-images.githubusercontent.com/53383860/123897483-bd8c2480-d963-11eb-9918-695bfb4ba6dd.png)

This cause Vite to give this error:

[code]

### Reproduction

Use `import "fs/promises"`.

I'll provide a repo in the next days.

### System Info

[code]

###

[2021-06-30 03:48] oliyg commented on #4036
oh, it works! thanks

[2021-06-30 03:48] #4036 closed

[2021-06-30 04:06] zoubingwu commented on #3980
Yeah writing this in a separated css file and import it in js could workaround it, thought it's still a bug should be fixed so I opened a new issue here.

[2021-06-30 05:23] modderme123 commented on #4025
Thanks for the explanation, that link was super helpful!

[2021-06-30 06:43] hex-ci opened #4038 "The `config.base` option in the `__vitePreload` method generated during the `build` process should be extracted into a variable, not directly spliced into the file path."
### Clear and concise description of the problem

The `config.base` option in the `__vitePreload` method generated by the `importAnalysisBuild.ts` file in the `build` process should be extracted into a variable, not directly spliced into the file path. The current situation is that if you set `config.base` to a URL such as `https://example.com/xxx/yyy`, it will cause a large number of duplicate UR

[2021-06-30 07:40] #4028 closed

[2021-06-30 07:41] patak-js commented on #3576
@fezzl please open a new issue with a proper reproduction if you found a problem, thanks!

[2021-06-30 07:46] patak-js commented on #3914
@softboy99 would you open a new issue against the latest version so we can better track it? Thanks!

[2021-06-30 07:52] Altaroc commented on #3567
@JohnPangalos Were you able to reproduce it in a small github repo by any chance ? Do you have any news about this warning ?

[2021-06-30 08:38] akvadrako opened #4042 "multi-page apps and client-side routing with child paths"
### Clear and concise description of the problem

I'm using vite with a multi-page app like so:

- /index.html
- /subdir/index.html

When I navigate to `/subdir/` I see the 2nd index.html as expected. But when I navigate to anything under that directory, like `/subdir/xyz`, the top-level index.html is rendered. This makes it impossible to have a multi-page app with client-side routing based on chi

[2021-06-30 09:17] softboy99 opened #4044 "CSS missing issule with a comma-separated list for production bundle"
CSS missing with a comma-separated list for production bundle.
vue 3.1.2 + vite 2.4-beta.2

demo project: https://github.com/softboy99/vite-devexteme21_1.git.

[2021-06-30 09:56] huyanhai opened #4046 "load page is too lang"
### Describe the bug

When i use UI Framework in my projects,I import the css and run my app ,The browser load the css is too lang.

### Reproduction

import 'ant-design-vue/dist/antd.css';
import 'tailwindcss/tailwind.css';

### System Info

[code]

### Used Package Manager

yarn

### Logs

_No response_

### Validations

- [X] Follow our [Code of Conduct](https://github.com/vitejs/vite/blob/main

[2021-06-30 10:19] GrygrFlzr opened #4049 "SSR: References to named default export functions get out of scope"
### Describe the bug

When any code meets all of the following criteria:
- Is loaded using `ssrLoadModule`
- Has a default named export
- Has a reference to the above name in the same file

`ssrLoadModule` will incorrectly treat it as an anonymous function, preventing the rest of the code from accessing it.

This code style is used in various dependencies such as [d3-format](https://github.com/d3/

[2021-06-30 10:27] JohnPangalos commented on #3567
No I have not been able to reproduce, and am not sure what the issue is. We are doing a monorepo where we import packages that we build and I haven’t had time to setup an example like that. I’ve done simpler implementations with no luck as of yet.

[2021-06-30 11:15] JohnPangalos commented on #3567
Okay, I have a repo that reproduces the bug. https://github.com/JohnPangalos/vite-preload-firefox-error

In order to get this to occur run the following:
[code]

Then open the http://localhost:5000 in Firefox. Look in the console and wait, the warning should show up after a minute.

[2021-06-30 11:18] patak-js commented on #3567
@JohnPangalos would you open a new issue against the latest version using that reproduction so we can better track this? Thanks!

[2021-06-30 11:21] JohnPangalos commented on #3567
Okay I was wrong in that the problem had anything to do with a monorepo, for us it seems to be lazy loading.
[code]
Then open the http://localhost:5000 in Firefox. Look in the console and wait, the warning should show up after a minute.

[2021-06-30 11:22] JohnPangalos commented on #3567
@patak-js yeah sure!

[2021-06-30 11:29] gyc-yvanc opened #4050 "vite parse <script> in HTML comment"
### Describe the bug

Hi,

When you put a script tag in html comment in the index.html file, vite parse it as it is an instruction not commented.  <script> tags in comments does not have to be parsed has regular script tags.

thanks

### Reproduction

### System Info

[code]

### Used Package Manager

npm

### Logs

[code]

### Validations

- [X] Follow our [Code of Conduct](https://github.com/vit

[2021-06-30 11:36] JohnPangalos opened #4051 "Chunks reporting a preload link warning in Firefox"
### Describe the bug

When using lazy loading assets, we are getting this warning when running in Firefox:

[code]

### Reproduction

Reproduction repo: https://github.com/JohnPangalos/vite-preload-firefox-error

Reproduction steps:

- From Repo run these commands to get a local production development server running:
[code]
- Open Firefox to http://localhost:5000 and click the About link to go the

[2021-06-30 12:05] Issam-Jendoubi opened #4052 "[Yarn workspaces] Unable to use a pre-built workspace package"
### Describe the bug

I have yarn workspaces set up and I want to include one of my packages within my SvelteKit application. My `svelte.config.js` contains the following **Vite** configuration:
[code]
`my-package` generates  **Commonjs** code and uses a normal Typescript compiler based on the following `tsconfig.json` file:
[code]
`my-package` contains also the following `package.json` file:
[cod

[2021-06-30 13:14] ExpandOcean commented on #3945
Same issue , with @mdi/font on windows

[2021-06-30 14:01] JohnPangalos commented on #3567
Here is the new issue #4051

[2021-06-30 15:36] bz-pepite opened #4055 "Problem with sourcemaps of libraries with @vitejs/plugin-react-refresh"
###EDIT
Now I've understood the problem. I've put a second message with an easier way to reproduce the bug, an explanation and a fix.

### Describe the bug

Hello,

The sourcemaps seems to not work for some libraries inside an app built by vite.
There are two packages in my rush monorepo :

- component-lib : the library containing the react component named "Button". react typescript library, built

[2021-06-30 18:36] veltman commented on #3254
@patak-js can you clarify why this was closed? From my read of the two PRs (#3753 and #4019) it seems like a fix was tried but then reverted.

[2021-06-30 19:08] patak-js commented on #3254
Thanks @veltman, looks like GitHub interpreted from the description that this should be closed. As you said, a fix had to be reverted because of regressions. Another solution is required here.

[2021-06-30 20:59] JesusTheHun commented on #3675
Calling class components outdated is a pretty bold statement.
React clearly stated that they do not plan to drop the support of it. So, not outdated.

[2021-07-01 00:25] #4016 closed

[2021-07-01 02:56] jy0529 commented on #3522
You can create a vite plugin to do this.
![image](https://user-images.githubusercontent.com/12868934/124057728-9cf2c600-da5a-11eb-8c55-6f2bbf04869b.png)

Declare a global function named __dynamicImportHanlder__, transform the dynamic import path to other string.

[2021-07-01 03:45] dongnaebi commented on #3522
I can use *rollup-plugin-replace* too, but the point is I can't replace the preload's link, because all plugins is run before `buildImportAnalysisPlugin`

see https://github.com/vitejs/vite/blob/main/packages/vite/src/node/build.ts#L284

of course it can be realized with node's `fs` API, emmm...

[2021-07-01 06:54] skywalker2013 commented on #257
how to config vite.config.js file for deeper path page? as follows image, how to visit feedback page?
![image](https://user-images.githubusercontent.com/3273380/124079807-3088be80-da7c-11eb-8911-d13bae5c4c96.png)

[2021-07-01 07:02] manongLY opened #4060 "vite2 build image path 404"
### Describe the bug

` <el-image src="/src/views/system/login/image/img-password.png"></el-image>`
使用<el-image>，npm run build之后无法显示图片。
`<img src="/src/views/system/login/image/img-username.png"/>`
使用<img>，npm run build之后正常。

### Reproduction

![gaitubao_截图20210701150023046_png](https://user-images.githubusercontent.com/15100627/124080587-1e5b5000-da7d-11eb-858d-abc818dc9d42.png)

### System Info

[2021-07-01 08:08] LanjianNUll commented on #3166
`import { createRouter, createWebHashHistory } from 'vue-router'
import Home from '@/pages/homePage.vue'
const routes = [
  { path: '/', component: Home }
]

const router = createRouter({
  history: createWebHashHistory(),
  routes // `routes: routes` 的缩写
})

export default router`

发现： import { createRouter, createWebHashHistory } from 'vue-router' 就不会报错

[2021-07-01 08:26] sinbino opened #4062 "The path of the use href enclosed in a button is broken in production build"
### Describe the bug

App.vue:
[code]

icons.svg:
[code]

Regarding the above code:
In vite dev server, both are displayed correctly.
In the vite production build, the svg icon surrounded by buttons is not displayed.
The reason for this is that the #bar in <use href="foo#bar"> is removed from the production build output.

The problem looks a bit similar to [#3822](https://github.com/vitejs/vite/is

[2021-07-01 09:02] sodatea commented on #4046
It won't take too long if you are just importing these 2 CSS files.

On my machine:
- Initial:
![image](https://user-images.githubusercontent.com/3277634/124097206-ead4f180-da8d-11eb-9c8e-bbfebd561a99.png)
- Reload:
![image](https://user-images.githubusercontent.com/3277634/124097310-093aed00-da8e-11eb-90f1-24eee14602a4.png)

Please provide a full reproduction so that we can diagnose the issue.

[2021-07-01 09:25] huyanhai commented on #4046
I tried it again and it still works the same way
![image](https://user-images.githubusercontent.com/28421572/124100567-291fe000-da91-11eb-840e-c6a2b936510c.png)

[2021-07-01 10:00] softboy99 commented on #3930
Hi,
@ygj6,How to debug project created with vite?What i mean is to set breakpoints and debug the project created by vite rather than vite itself.

[2021-07-01 10:08] sodatea commented on #4046
Please provide a full reproduction. My guess is that you've accidentally put the import statements inside an another style file that requires heavy compilation.

[2021-07-01 11:28] patak-js commented on #3930
@softboy99 please avoid sending multiple messages to an issue. I'll move this to a [GitHub Discussion](https://github.com/vitejs/vite/discussions), and you can also join the chat at [Vite Land](https://chat.vitejs.dev/) to ask questions.

You can also check this article, that will guide you through the process https://maximomussini.com/posts/debugging-javascript-libraries/

[2021-07-01 11:28] #3930 closed

[2021-07-01 12:25] AlonMiz opened #4067 "[vite:build-html] Unable to parse html in build step"
### Describe the bug

using vite with `vite-plugin-string` for importing html as strings
dev mode works great, but when trying to build for production, we encounter the error below.
the expected behavior is to not try to traverse all of my HTMLs as I don't care if it's valid or not.
my index.html is perfectly valid but my other dozen HTML files that we import as strings are not all valid (in synta

[2021-07-01 13:18] huyanhai commented on #4046
I think the reason is tailwindcss. I have done the following experiments
Setp 1. I use the tailwindcss in my Projects at initial is slowly.but reload is normal.
Setp 2. Initial and reload is normal.

Use tailwindcss
**Initial**
![image](https://user-images.githubusercontent.com/28421572/124129714-a149ce00-dab0-11eb-9bf6-c39e6a4f4ff8.png)

**Reload**
![image](https://user-images.githubusercontent.c

[2021-07-01 13:45] aaryak-shah commented on #2452
Thanks! Running `npm config set ignore-scripts false` and reinstalling all node modules fixed the issue for me

[2021-07-01 13:52] #4046 closed

[2021-07-01 13:57] JohnPangalos commented on #4051
It seems like that this is a firefox specific bug or it might be that it's a bug with any browser that doesn't support the real type of `modulepreload`.

Seems like [this is the code that "causes" this bug](https://github.com/vitejs/vite/blob/fa638020649687fa1028f105f1fcd79a7df489d6/packages/vite/src/node/plugins/importAnalysisBuild.ts#L38) along when the link rel is added for script files.

I can

[2021-07-01 14:25] JohnPangalos commented on #4051
Prefetch might not be the right rep link either actually. I'm not sure what the right way to do this for Firefox, and potentially Safari...

[2021-07-01 14:33] JohnPangalos commented on #4051
Something else I noticed is that the module is being downloaded twice in Firefox
![Screen Shot 2021-07-01 at 16 32 49](https://user-images.githubusercontent.com/6550688/124141800-fde5c280-da89-11eb-88dd-69ea27b5e3b0.png)

[2021-07-01 14:56] JohnPangalos commented on #4051
[It seems like there is a bug ticket in Firefox for this.](https://bugzilla.mozilla.org/show_bug.cgi?id=1425310)

[2021-07-01 15:03] patak-js commented on #4051
Thanks for digging into this @JohnPangalos, would you try to yarn link vite with [feat: modulepreload polyfill #4058](https://github.com/vitejs/vite/pull/4058)?
We are going to polyfill modulepreload for safari and firefox, and this may have an effect on the warning you are reporting.

[2021-07-01 18:26] patak-js commented on #4051
I tested and #4058 should solve this issue 👍🏼

[2021-07-01 18:51] JohnPangalos commented on #4051
Wow, that was quick! Let me know if you need anything else. Thanks again!

[2021-07-01 21:12] patak-js commented on #4067
@AlonMiz this looks like an issue with vite-plugin-string, did you open an issue there first?

[2021-07-01 21:28] AlonMiz commented on #4067
@patak-js, why do you think it's on `vite-plugin-string` side?
actually, I just tried running without that plugin and I got the same output.
my guess is that my problem is that vite assumes that every `.html` file is part of some entry and it tries to traverse and minify it.
maybe there's a way to ignore that step somehow.
Thanks

[2021-07-01 21:51] patak-js commented on #4050
I can not reproduce it, please provide a small repro. Thanks!

[2021-07-01 22:01] Snugug opened #4068 "Allow asynchronous config hooks for plugins"
### Clear and concise description of the problem

I'm attempting to author a [Vite plugin for 11ty](https://www.npmjs.com/package/vite-plugin-eleventy) and am running into issues properly setting the config. Eleventy's Node API is entirely asynchronous, and in order to properly set the config for what files should be added to Rollup during build I need to compile the files. Because 11ty is async,

[2021-07-01 22:14] patak-js commented on #4068
I don't see a reason not to allow for this. We could get a PR and see what others in the team think.

But you may be able to solve your issue using an [async config](https://vitejs.dev/config/#async-config) in your vite.config.js
[code]

[2021-07-02 00:50] Snugug commented on #4068
Thanks for the feedback! I can see about writing a PR next week if that's OK with you; I'll model it on `configResolved` if that sounds right.

As for your suggestion, I agree it'd totally work under most circumstances, but it doesn't seem that i'd work from inside a plugin where I would need some information from the config too (specifically the Vite root, and I know that it's not final inside th

[2021-07-02 03:22] ParadiseLayal commented on #1265
vite 引入图片资源
html:
<img :src="state.voiceSrc" alt="">
script:

import on from '@/assets/voice.png'
import off from '@/assets/no_voice.png'

const state = reactive({
  voiceSrc: off
})

[2021-07-02 07:14] djoks opened #4069 "Internal server error: Cannot read property 'theme' of undefined"
### Describe the bug

I am trying to use @tailwindcss/jit with Vite. I have followed the documentation and various articles online on how to configure it but it fails whenever I run `yarn dev`.  I get an error.

### Reproduction

https://github.com/BreakInvent/breakinvent-website.git

### System Info

[code]

### Used Package Manager

yarn

### Logs

[code]

### Validations

- [X] Follow our [Code

[2021-07-02 07:27] verynong opened #4070 "import.meta.glob('/src/views/**/*.vue') 生成路由 打包后报Error: Unknown variable dynamic import"
### Describe the bug

import.meta.glob('/src/views/**/*.vue') 生成路由
打包后访问/views/test/Index.vue文件报错 Error: Unknown variable dynamic import
dev env 正常

### Reproduction

https://github.com/RobinBoom27/template-vite-vue-pc

### System Info

[code]

### Used Package Manager

npm

### Logs

[code]

### Validations

- [X] Follow our [Code of Conduct](https://github.com/vitejs/vite/blob/main/CODE_OF_CONDU

[2021-07-02 07:41] patak-js commented on #4044
Closing because the issue form was not respected. Please open your issue in https://github.com/vitejs/vite/issues/new/choose

Also make an effort on creating a smaller reproduction, with the minimal code to reproduce the problem, if you want to help others to fix the issue.

[2021-07-02 07:41] #4044 closed

[2021-07-02 08:09] sodatea commented on #3227
A note: in TypeScript 4.3, `target: 'esnext'` now indicates `useDefineForClassFields`.
https://github.com/microsoft/TypeScript/pull/42663

[2021-07-02 08:30] mecirmartin opened #4072 "Allow to shim node modules inside `define` object in `vite.config.js`"
### Clear and concise description of the problem

So i've been trying to use ViteJS and i've run into multiple problems regarding incompatibility of npm packages. I understand, that Vite is ESM only, but many npm packages are using node builtins. The unability to use these packages makes Vite much harder to use and much less versatile

### Suggested solution

I thought the simplest solution would

[2021-07-02 08:32] djoks commented on #4069
So found out the issue.  @tailwindcss/jit is already included in the latest version of tailwind so had to uninstall: `yarn remove @tailwindcss/jit` and modify my postcss.config.js to this:
[code]
Works now.  Was not a Vite bug.

[2021-07-02 08:32] #4069 closed

[2021-07-02 08:48] patak-js commented on #4072
This is not an intended use case for [`config.define`](https://vitejs.dev/config/#define). It's implemented as a straightforward text replacement without any syntax analysis. define should be used for CONSTANTS like `process.env.FOO` and `__APP_VERSION__`

I think that the best way to shim node builtins in packages is to use a rollup plugin like https://github.com/snowpackjs/rollup-plugin-polyfill

[2021-07-02 08:51] #4072 closed

[2021-07-02 08:52] sodatea commented on #4070
It's a rollup limitation that globs only go one level deep
https://github.com/rollup/plugins/tree/master/packages/dynamic-import-vars#globs-only-go-one-level-deep

[2021-07-02 09:35] #4049 closed

[2021-07-02 09:54] RobinBoom27 commented on #4070
好滴谢谢
我们改成⬇️图这样就可以了
![image](https://user-images.githubusercontent.com/31871202/124257030-86ce2e00-db5e-11eb-9463-f2da9b38bdf2.png)

[2021-07-02 10:09] sodatea commented on #4070
这个问题还是有必要修掉的，我们需要在文档里写明限制、在开发阶段就报错，所以我把issue重开了

[2021-07-02 10:13] wen81643956 commented on #3033
So do i, wait for a solution

[2021-07-02 10:32] mecirmartin commented on #4072
@patak-js Thanks for info, will open a bug report

[2021-07-02 10:37] patak-js commented on #2612
Closed by https://github.com/vitejs/vite/pull/3988, please report back if you find issues @bjarkihall. Thanks @ferdinando-ferreira for the heads up 👍🏼

[2021-07-02 10:37] #2612 closed

[2021-07-02 10:51] sodatea commented on #4060
See https://github.com/vitejs/vite/issues/3459#issuecomment-842962060

[2021-07-02 10:51] #4060 closed

[2021-07-02 11:13] RobinBoom27 commented on #4070
那目前还没办法可以这样生成路由的吗:(

[2021-07-02 11:51] dominikg commented on #4068
the config hook is async? https://github.com/vitejs/vite/blob/d697ef35aa6f0ea1101d51066ca23655b3e40fc5/packages/vite/src/node/config.ts#L285

[2021-07-02 11:55] dominikg commented on #4068
also configResolved is async too so you can do work there based on the final config before vite starts.

[2021-07-02 11:59] patak-js commented on #4068
Thanks for the heads up @dominikg, the docs weren't updated when the feature was merged.

[2021-07-02 12:04] Snugug commented on #4068
Hmm, ok, thanks! I can't explain what I'm seeing then; I've got an async function being `await`ed in `config`, but Vite appears to have moved on and begins trying to compile my site before that function is complete, resulting in an error. Logging items after that `await` never show, either. It felt like a sync/async race condition to me. Happy to share more details if that'd be helpful.

[2021-07-02 12:05] patak-js commented on #4068
That is indeed strange. I think the best is to try to create a minimal reproduction and open a new bug report.

[2021-07-02 12:23] AlonMiz commented on #4067
@patak-js thanks
ok, that could work, but it has several downsides with that.
1. we are still using webpack to compile to production. adding `?raw` might not work as expected with the webpack syntax.
but even if it does, it still feels a bit clumsy.
2. we get an eslint error `Unable to resolve path to module './login.html?raw'.eslintimport/no-unresolved`
we want to migrate all of the features we n

[2021-07-02 12:46] patak-js commented on #4067
If you get to build minimal reproduction for some of the issues (like the TS), that could be a good bug report to improve the `?raw` feature.

I let other comments on possible solutions for vite not dealing with `.html` files, but that indeed seems like a good fix. Maybe a good idea to create a PR so it can be discussed there.

[2021-07-02 12:57] Snugug commented on #4068
Yup that's what I'm thinking too. I'll do that

[2021-07-02 13:04] AlonMiz opened #4076 "Browser doesn't open while using html middlewareMode"
### Describe the bug

While using Vite as a middlewareMode browser doesn't open.

I wonder if that's intentional. and if it does
1. it might be better to export the open command (which has improvements over the `open` library)
2. let's update the docs about that

### Reproduction

[code]

### System Info

[code]

### Used Package Manager

yarn

### Logs

[code]

### Validations

- [X] Follow our [

[2021-07-02 13:24] AlonMiz commented on #4067
@patak-js it did work eventually, but we still have the caveats i mentioned

[2021-07-02 14:08] underfin commented on #4027
Close at #4054

[2021-07-02 14:12] AlonMiz commented on #4067
i was able to solve all of the above.
so for everyone that getting here in the future:
1. `?raw` is a valid node/esm import syntax as it should support urls
2. eslint issue can be resolved by adding webpack resolver [eslint-import-resolver-webpack](https://www.npmjs.com/package/eslint-import-resolver-webpack)
3. ts issue can be resolved by adding `declare module '*.html?raw';` to a `types.d.ts` in

[2021-07-02 14:17] schalk-b opened #4079 "Vite does not shutdown properly when calling close() on the ViteDevServer"
### Describe the bug

I would expect after running this script that the process would end:
[code]

This is problematic when using the ViteDevServer with Jest as the process doesn't end cleanly after the server is closed.

This was the commit that introduced the issue: https://github.com/vitejs/vite/commit/5999444496b6309460687b0769afad018aa21859

### Reproduction

This was introduced in Vite 2.4.0

[2021-07-02 14:55] hanayashiki opened #4080 "Feature Proposal: Allow splitting 'vendor' manually"
### Clear and concise description of the problem

Currently, vite uses an opinionated way to extract statically imported node_modules:

https://github.com/vitejs/vite/blob/c08069cb3bdf7e7aa16d9cfaef4c1aea3a29cfa2/packages/vite/src/node/build.ts#L575

However, this might end up with a very big `vender.[hash].js`, and we can't split it into chunks to reduce load time.

I hope the user can hook into

[2021-07-02 15:33] wlib opened #4081 "Feature: Generalized `ssrLoadModule()`"
### Clear and concise description of the problem

Vite uses html files as entry points at both dev and build time. [I created a plugin](https://github.com/Technical-Source/vite-plugin-bruh) that abstracts this by generating the html content with an esm module before vite internally transforms it. During dev, is relies on `ViteDevServer.ssrLoadModule()` as if it was a form of dynamic `import()` but

[2021-07-02 16:05] IanVS commented on #4079
I've taken a look, and I guess I don't see where a call to `process.exit()` should happen when calling `close()`.  If anything, the new behavior seems more correct, and it should be up to the overall parent process to determine when to end the process. In your reproduction, calling `process.exit()` after closing the server does end the process.

[2021-07-02 16:07] IanVS commented on #4079
Eh, after thinking about that a bit more, I think you're right.  I'll do some more digging.

[2021-07-02 16:21] wlib commented on #4081
Forgot to link for Snowpack mention:

`https://github.com/snowpackjs/snowpack/issues/3491`

[2021-07-02 16:26] IanVS commented on #4079
It seems to be the addition of `process.stdin.resume()` that causes this issue.  I think it can be removed without too much trouble.  I put it in because a previous attempt had been made to add it.

[2021-07-02 16:33] cuiqui opened #4083 "Undefined imports in production build with shared components"
### Describe the bug

When building for production, several pages import from FontAwesome (`import { faXXX } from '@fortawesome/sub/faXXX.js'`). Some of those imports are shared between a lot of components. These shared imports in `dist/assets` are seen, after running `npm run build`, as a separate chunk of the form `faXXX.hash.js`, apparently empty. Example from the repo to reproduce issue:

[cod

[2021-07-02 18:01] wlib commented on #4081
Just a note that I [found a sort-of workaround](https://github.com/Technical-Source/vite-plugin-bruh/commit/607273b4ad6388e759a554b5bbdb65ad1fcf79f3) for `ssrLoadModule()` failing to allow imports for node core modules. It involves adding the modules to the [`_ssrExternals` array](https://github.com/vitejs/vite/commit/b813b00d234ecb500ae688c4da2b11d3c7a3070b#diff-abb3345b6e3b2ec6d297c2ebc54cca85ae

[2021-07-02 19:27] silvenon commented on #3716
My understanding is that this was released in `vite@v2.4.0-beta.1`, but I'm still experiencing this problem in `2.4.0-beta.3`.

[2021-07-02 19:46] X7md opened #4084 "import.meta.globEager('./../assets/logos/*.jpg') not work fine with build"
### Describe the bug

import.meta.globEager('./../assets/logos/*.jpg') not work fine with build

![image](https://user-images.githubusercontent.com/54203033/124321733-e04a5300-db86-11eb-8335-64334178f948.png)

![image](https://user-images.githubusercontent.com/54203033/124321929-33bca100-db87-11eb-9d6a-a3d8657d4871.png)

### Reproduction

[https://github.com/X7md/project-iyalla/tree/issue_](https:

[2021-07-02 20:08] Flakebi commented on #4027
Thanks for the fast fix.
While the example I posted above works correctly now, I think the underlying issue still exists (parsing typescript with a regex is very fragile).

E.g. the following code still crashes:
[code]

Error message:
[code]

[2021-07-02 21:12] Wiejeben opened #4086 "Disabling transform asset URL ignored"
### Describe the bug

When setting `template.transformAssetUrls` to `false` it still (tries) to transform asset URLs. This is probably due to https://github.com/vitejs/vite/blob/main/packages/plugin-vue/src/template.ts#L132 going steight to the else overwriting `transformAssetUrls` to `assetUrlOptions`, which is always forced to something other than `false`. Overwriting source code in my node_modu

[2021-07-02 21:15] martinszeltins opened #4087 "Font doesn't work from a CSS file"
### Describe the bug

The font doesn't get loaded from a minified CSS file.

### Reproduction

Please take a look at this repo that has two directories - one without Vite where everything works (`works-without-vite`) and another one where the same css file and font doesn't work with Vite (`broken-with-vite`).

https://github.com/martinszeltins/vite-fonts-dont-work

I am simply importing a minified

[2021-07-02 22:14] schalk-b commented on #4079
Yup that resolves it, thank you

[2021-07-02 22:17] schalk-b commented on #4079
It shouldn't be  necessary for a node process to call process.exit() for the process to end. If everything has been "cleaned up" and stopped. The process should end by itself.

[2021-07-02 22:17] #4068 closed

[2021-07-02 22:27] wlib commented on #4081
I also [found a workaround for build time](https://github.com/Technical-Source/vite-plugin-bruh/commit/b985b91db0aedc81845b3211de212c4445e05bb6#diff-d6299b5bb2afc0956126a0adb12fd89829e01a4cc025e7277a092228b96f32e4R97-R133), where I just create a dev server to use `ssrLoadModule()`, but it would be ideal if I did not have to because it conflates semantics, and is therefore really a hack.

[2021-07-02 22:30] tamasfe opened #4089 "External library components break in rollup build (Vue3)"
### Describe the bug

Components imported from an external library stop working correctly after the final bundle is produced, even though `vite dev` loads them correctly.

I created a library package according to the [docs](https://vitejs.dev/guide/build.html#library-mode), and used an exported component in an another application.

Things seem to disappear or simply stop working, namely templates/

[2021-07-02 22:47] Flakebi commented on #4027
I’m not sure if that fixes everything :)
[code]

[2021-07-02 23:15] callmeberzerker commented on #2393
Having the same issue on `Windows` with `to-vfile`

[2021-07-02 23:32] pmk1c opened #4090 "Error when building with a library polyfilling Symbol"
### Describe the bug

I tried to build a project with vite, where I was using [@jumpn/utils-composite](https://github.com/jumpn/utils-composite). Whenever I build this project and open the page I get the error "symbol is not a function".

It looks like there is an error transpiling the libraries code.

### Reproduction

I created a test project with no changes to a vanilla vite project, but the on

[2021-07-03 02:37] OneNail commented on #3716
I tried the above repo by `2.4.0-beta.3`, it works fine, can you help provide the way to reproduce, thanks

[2021-07-03 04:49] TuiMao233 opened #4094 "Vite Plugin cannot determine the current port when there is a port conflict in obtaining the final analysis configuration"
### Describe the bug

![image](https://user-images.githubusercontent.com/49724027/124343210-618ffd00-dbfc-11eb-9e3a-42ff9ee1c346.png)

### Reproduction

I think the above has clearly indicated that it exists

### System Info

[code]

### Used Package Manager

yarn

### Logs

[code]

### Validations

- [X] Follow our [Code of Conduct](https://github.com/vitejs/vite/blob/main/CODE_OF_CONDUCT.md)
- [

[2021-07-03 05:14] sudo-shihab commented on #4069
@djoks :  Had faced the same issue and I also did the same changes you have mentioned above but what I am curious to known is JIT working fine in HMR mode ?? did you check it , Bcz for me HMR update is not triggered at all for any changes if i do in index.html file and needs manual refresh of page to see changes :/

[2021-07-03 05:42] unindented opened #4095 "Unmet peer dependency"
### Describe the bug

After having started a project with `yarn create @vitejs/app`, running `yarn` outputs the following warning:

[code]

### Reproduction

[code]

You'll see the warning as part of the output:

[code]

### System Info

[code]

### Used Package Manager

yarn

### Logs

_No response_

### Validations

- [X] Follow our [Code of Conduct](https://github.com/vitejs/vite/blob/main/CODE

[2021-07-03 05:54] patak-js commented on #4069
Try 2.4.0-beta.3, there was a fix related to this

[2021-07-03 05:55] pastelmind commented on #2623
It seems the problem originates from [@rollup/plugin-commonjs](https://github.com/rollup/plugins/tree/master/packages/commonjs):
https://github.com/rollup/plugins/blob/6867290ec8b983950ce20e58a34eaaee5e371517/packages/commonjs/src/utils.js#L25-L32

This function is used to extract a module's base name from the module ID. For example, `getName("C:\\Users\\Phil\\Documents\\GitHub\\test-vite-app\\nod

[2021-07-03 06:11] silvenon commented on #3716
I assumed that the example featured Tailwind's JIT mode, which is the situation where I'm experiencing this problem, but it doesn't.  So never mind, the issue is probably more complex or might not be related at all, I assumed that it was because Tailwind probably adds the HTML file(s) as dependencies.

[2021-07-03 06:21] djoks commented on #4069
Nope, even though I got rid of my error and was able to rebuild HMR still wasn't being triggered.

[2021-07-03 06:22] djoks commented on #4069
Great will try this. 👍🏾

[2021-07-03 06:46] patak-js commented on #3716
@bradlc would you try your use cases against vite@2.4.0-beta.3 and close this issue if they are covered?

[2021-07-03 07:28] ygj6 commented on #3051
This is not vite bug,is `terser` bug, call `require("terser").minify(code, options)` to get the same error code.
Reproduction repo:[ygj6/issue-3051](https://github.com/ygj6/vite-issue-investigative/blob/issue-3051/index.js#L99)

[2021-07-03 08:05] ZYinMD commented on #1493
I confirm it's because of symlink. I can now reliably reproduce it.

A very common thing that people do is putting their code in somewhere like `~/all-my-projects/foo/bar/vite-app`, where `all-my-projects` is a symlink. If you run `vite` to start the dev server in such a pwd, you'll get the error.

**To fix, `cd` into the real folder, make sure no parent folder is a symlink, then try again.**

[2021-07-03 09:16] sodatea commented on #4095
See https://github.com/rollup/plugins/pull/845

[2021-07-03 09:49] pastelmind commented on #2950
This issue and #2967 may be related to #2623. @AlttiRi which OS do you use?

[2021-07-03 10:10] Innei opened #4099 "vite build transform CommonJS bug"
### Describe the bug

Use latest of vite (2.3.8), build for prod has some bug when transform CommonJ module.
In production runtime crash whole application, but development mode works.

PS: in older version vite 2.1.5, both dev and prod works.

### Reproduction

Reproduction repo here: https://github.com/Innei/vite-commonjs-bug-reproduction

[code]

In dev mode, you will see this.
![](https://cdn.j

[2021-07-03 10:17] AlttiRi commented on #2950
Windows 10.

[2021-07-03 10:44] sudo-shihab commented on #4069
@patak-js : Tried it and voila !!  its smooth now  !!  💯  Thanks 👍

[2021-07-03 13:17] mikerockett commented on #3716
Has anyone experienced full page reloads on 2.4 beta 3? Changing a class in a an SFC is triggering this. Running everything on latest/next, including Tailwind.

[2021-07-03 14:02] scott-the-brewer opened #4100 "Can we expose ViteDevServer._pendingReload to consumers"
### Clear and concise description of the problem

At the moment, when I run a Jest test for the first time, when unoptimized dependencies are discovered the server gets flagged to do a "reload", where it optimize the dependencies and re-bundles the cache.

This results in tests failing, because they are unable to resolve dependencies in the cache while things are `reloading`.

To resolve this loca

[2021-07-03 14:22] schalk-b commented on #4100
By the way, I am scott-the-brewer, this is just my main github account.

[2021-07-03 15:32] Tiberriver256 opened #4102 "Add tests to @vitejs/create-app templates"
### Clear and concise description of the problem

It would be really nice if the templates provided had some testing system built into them.

### Suggested solution

Add tests to the templates

### Alternative

_No response_

### Additional context

_No response_

### Validations

- [X] Follow our [Code of Conduct](https://github.com/vitejs/vite/blob/main/CODE_OF_CONDUCT.md)
- [X] Read the [Contri

[2021-07-03 16:05] bbugh opened #4103 "Support automatic ref unwrapping in plugin-vue-jsx"
### Clear and concise description of the problem

_I searched around and was surprised not to see any issues about this topic; I apologize if it's a duplicate._

JSX with Vue works great in vite, but it's very easy to forget which items are computed/refs and require `.value`

[code]

### Suggested solution

It would be really nice if the compiler was able to automatically unwrap `ComputedRef` and

[2021-07-03 16:32] patak-js commented on #4103
Hey @bbugh, this is not something in the scope of Vite Core. Check out https://github.com/vuejs/rfcs/pull/228 if you would like to see some ideas that the Vue community is thinking on to tackle this issue, but for reference Vite Core is framework agnostic so this kind of features should be implemented by each framework community through plugins.

[2021-07-03 16:32] #4103 closed

[2021-07-03 16:35] patak-js commented on #4102
Hey @Tiberriver256, thanks for the proposal. Adding a test framework is out of the scope of create-app. There are too many options to choose from. The intention of create-app is to be able to quickly get an app running to test vite, it is not intended to be a production ready template for each framework. In https://github.com/vitejs/awesome-vite#testing there are some integrations, and also more c

[2021-07-03 16:35] #4102 closed

[2021-07-03 17:55] djoks commented on #4069
I can confirm it works as well! 👍

[2021-07-03 19:16] ddahan commented on #3716
Going from `2.3.8` to `2.4.0-beta.3` solved this issue for me.
I'm using Tailwind 2.2 with JIT mode enabled.

[2021-07-03 19:23] Name-Terry commented on #4024
在 2.1.3版本中，我也遇到了同样的问题。scss中使用background: #348cb3 url("/src/assets/images/bg.jpg") repeat-x bottom left 。 编译后的文件却是 background: #348cb3url("/src/assets/images/bg.jpg") repeat-x bottom left。 但在mac系统下是正常的。所以我不确定这个问题跟vite有关

[2021-07-03 20:06] #3882 closed

[2021-07-03 21:28] Flakebi commented on #4027
Hi,
first of all, thanks for responding and fixing these issues so fast!
I think it’s fine to close this issue if you’re content with the current state.

I’d like to note that regular expressions—which is more or less what regex is—are only able to parse some things, but code is too complex to be parsed correctly with regular expressions (to be exact, context free languages that are not just regul

[2021-07-03 22:29] patak-js commented on #4027
I'm aware. Thanks for taking the time to write this down and push for Vite to be correct here.

Check out this comment about why this is implemented at this point in this way https://github.com/vitejs/vite/blob/eb2e41b098fb3d5f367c1f4fdfcad12f7538ac16/packages/vite/src/node/optimizer/scan.ts#L32

The changes that we just added thanks to your reports should reduce the number of false positives that

[2021-07-03 23:11] bbugh commented on #4103
Oh dang, sorry. That explains why I couldn't find anything. Thank you!

[2021-07-04 07:35] hzm18 opened #4108 "vite ssr 使用 `?.` 出错"
### Describe the bug

项目使用typescript

在项目`https://github.com/kinvirgo/vue-vite-ssr.git`上修改运行发现vite ssr似乎不支持 `?.`语法。
但是直接使用`vite` 命令运行而不是使用 `node ./server`却运行正常

### Reproduction

新增test.ts并在任一vue组件中引入该文件调用`foo`方法就会重现。
const obj = {
    a: () => {
        console.log('fun a')
    },
}
export const foo = () => {
    // TODO  not support `?.` ？
    obj?.a?.();
}

### System Info

[code]

### Used Pac

[2021-07-04 09:05] huyansheng3 commented on #3124
@nihalgonsalves  does it work for vitejs ?

[2021-07-04 09:40] Jairwin-L opened #4113 "vite+react+antd，build之后出现报错？"
### Describe the bug

使用antd的DatePicker组件点击时候出现问题，如图：
![image](https://user-images.githubusercontent.com/32570960/124380175-e60e7880-dced-11eb-96e4-0701769e7523.png)

感谢🙏： @sodatea @Shinigami92 @underfin @psaren

### Reproduction

https://github.com/Jairwin-L/vite-react-ts-demo/blob/077146486dcbd2965b6773bcf170dce5aabaec51/src/pages/demo.tsx#L25

### System Info

[code]

### Used Package Manager

[2021-07-04 12:44] hlxxzt opened #4114 "lib + --watch 模式下运行style attr selector值与组件ScopeId不匹配"
### Describe the bug

### 问题描述

我的个人演示站点部署逻辑如下：
本地修改代码后提交至个人gitlab，服务端监听程序hook到提交后会将代码pull到服务器，然后合并至正在运行watch模式的vite build服务。打包完成后理论上刷新页面就能看到最新页面。

但我今天在修改一个较大页面时发现了问题，我写到style scoped中的样式在初次编译时是正确的，但经过修改的组件编译后页面样式错乱了。

### Reproduction

短暂排查后发现问题如下...

初次编译时，sidebar组件ScopeId是99b8871a，与内联样式attr选择器值相同（生成的style.css内也是这个值）

![初次编译](https://user-images.githubusercontent.com/65533596/124385027-95efe000-

[2021-07-04 13:12] franktopel opened #4115 "Importing @webcomponents/webcomponentsjs and serving using vite dev results in script errors in Chrome and Firefox"
### Describe the bug

Since snowpack seems a little immature as of yet, I wanted to give Vite a try.

I followed the getting started instructions in Vite's documentation and went with the vanilla template as my use case would be developing native web components without any frameworks (except the polyfill).

    npm init @vitejs/app vanilla --template vanilla
    cd vanilla
    pnpm i

Starting the

[2021-07-04 13:35] franktopel commented on #4115
Digging a little deeper, this issue seems related to `pnpm`. If I delete the `node_modules` folder, followed up by `npm i` and then `npm run dev`, the errors are gone.

[2021-07-04 14:32] franktopel commented on #4115
Are there known incompatibilities between Vite and `pnpm`?

[2021-07-04 15:59] ThomasFindlay commented on #1955
@sodatea that looks great. Does it also work with .tsx files? I followed the docs and tried running it in a React + TypeScript project, but there were some issues with that. Previously, I used ts-jest as a preset and transform for ts/tsx files.

[2021-07-04 16:20] hex-ci commented on #4108
升级到 Node 14 试试~

[2021-07-04 18:25] raythurnevoid commented on #3983
To workaround this issue it's possible to add the dependency you want to transform to: `ssr.noExternal` in vite config.
eg:
[code]

[2021-07-04 18:33] tamasfe commented on #4089
I've added the "dist" directories so that you don't have to build the repo.

After a closer look, the Vue library seems to get duplicated in the final output vendor chunk. Both the imported component and the app's component use their own Vue functions and they don't seem to be aware of eachother ([output](https://github.com/tamasfe/vite-what/blob/4aabb52fac473f774bed0cd16c486f4162f0801d/testapp/di

[2021-07-04 18:53] tamasfe commented on #4089
Alright, the problem seems to be the use of `npm link`.

I strumbled upon [this so thread](https://stackoverflow.com/questions/60561167/bundling-a-plugin-with-rollup-but-having-duplicate-vue-js-package-imported-in-th), then [this comment](https://github.com/vatson/rollup-plugin-vuetify/issues/6#issuecomment-638515025).

While this doesn't appear to be a Vite issue, it might be worth documenting so

[2021-07-04 21:31] louiss0 opened #4116 "Vite and Docker"
### Describe the bug

vite and docker dont seem to work well together every time i develop with both the browser reloads every minute.  The browser reloads  up to five time per initial load . Also the server crashes at random times during development .

### Reproduction

https://github.com/louiss0/vue-2-template

### System Info

[code]

### Used Package Manager

npm

### Logs

_No response_

###

[2021-07-05 00:01] #4050 closed

[2021-07-05 03:09] ygj6 commented on #3311
When analyzing this problem today, I found that this problem no longer exists.

![image](https://user-images.githubusercontent.com/7699524/124412380-f6bbfe80-dd80-11eb-81c3-e163c3ed7f24.png)

[2021-07-05 04:52] sodatea commented on #3051
@ygj6 They are not the same.

In your reproduction, the result contains the following code:
[code]

The output of terser is valid JavaScript.

But in the original issue, it's
[code]
It results in a syntax error.

The syntax error is caused by the text replacement of the import analysis plugin:
https://github.com/vitejs/vite/blob/5c177db9597344b8151c8e421ddbced36c4151c7/packages/vite/src/node/plugi

[2021-07-05 07:00] ygj6 commented on #3051
@sodatea
Do you mean the processing of `passes: 3` is correct?
When [compress.passes](https://github.com/ygj6/vite-issue-investigative/blob/issues-3051/index.js#L92) is set to 2，it is correct that there is no need to text replacement.

[code]

![image](https://user-images.githubusercontent.com/7699524/124429366-61306700-dda0-11eb-8e6a-6835fa3b6d48.png)

compress.passes:3 output:
[code]

compress.p

[2021-07-05 07:06] tiantingrui opened #4121 "vite http proxy error"
### Describe the bug

[vite] http proxy error:
Error: getaddrinfo ENOTFOUND xxx.com
    at GetAddrInfoReqWrap.onlookup [as oncomplete] (node:dns:71:26)

### Reproduction

"/api":{
        target: "http://xxxx.com",
        changeOrigin: true,
        rewrite: (path) => path.replace(/^\/api/, '')
      },

[vite] http proxy error:
Error: getaddrinfo ENOTFOUND xxx.com
    at GetAddrInfoReqWrap.onloo

[2021-07-05 07:10] sodatea commented on #3051
![image](https://user-images.githubusercontent.com/3277634/124431597-211eb380-dda3-11eb-83dc-c5c9f9e03faa.png)

The result of terser is correct.

[2021-07-05 07:11] ygj6 commented on #3051
@sodatea  Learned it, thank you.
For the `compress.passes` option, my understanding is the number of compress.
[terser api](https://terser.org/docs/api-reference):
![image](https://user-images.githubusercontent.com/7699524/124431013-71e1dc80-dda2-11eb-9c04-bbc3e5602a64.png)

So I don’t know if it should output `"__VITE_PRELOAD__".map((e) => {` after `compress.passes:3`

[2021-07-05 07:13] ygj6 commented on #3051
@sodatea
I want to try to fix this problem, do you have any suggestions?

[2021-07-05 07:23] sodatea commented on #3051
1. Remove the `else` condition here https://github.com/vitejs/vite/blob/5c177db9597344b8151c8e421ddbced36c4151c7/packages/vite/src/node/plugins/importAnalysisBuild.ts#L272-L274, should always use an array
2. Now that `deps` is always an array, its type and the first `if` condition should also be fixed here https://github.com/vitejs/vite/blob/5c177db9597344b8151c8e421ddbced36c4151c7/packages/vite/s

[2021-07-05 07:34] ygj6 commented on #3051
thx, I will do it right now.

[2021-07-05 07:55] focussing commented on #3913
same issue; disabling JIT mode does not help in my case.

[2021-07-05 08:00] Shinigami92 commented on #3913
@focussing Seems that this was release in the beta `v2.4.0-beta.1`, could you try out the newest beta `v2.4.0-beta.3`?

[2021-07-05 08:02] MuzafferDede commented on #1215
+1

[2021-07-05 08:27] focussing commented on #3913
@Shinigami92 I tried it; the warning has not come up yet; but changes in component CSS are not updated although console says `[vite] hot updated: /src/components/Machine.vue`

[2021-07-05 08:27] zspishere opened #4123 "runtime error in react and react-activation"
### Describe the bug

https://github.com/zspishere/vite2-react-app
This Simple Repo is designed to reproducing the error as below, powered by `vite2` and `react-17` and [`react-activation`](https://github.com/CJY0208/react-activation).
I guess it's vite2's bug, because webpack is OK.

- `yarn dev` is ok

- `yarn build` and `yarn serve`, then we will got an error from Broswer Console when visiting

[2021-07-05 08:29] patak-js commented on #3913
@focussing could you open a new issue with a minimal reproduction? Thanks!

[2021-07-05 09:13] tomoam opened #4124 "WebSocket proxy in middleware mode"
### Clear and concise description of the problem

vite's WebSocket proxy doesn't work in middleware mode even if set `ws: true`  like the following.
[code]

Because `httpServer` is required to set up WebSocket proxy but `httpServer` becomes `null` in middleware mode.

https://github.com/vitejs/vite/blob/5c177db9597344b8151c8e421ddbced36c4151c7/packages/vite/src/node/server/index.ts#L315-L317

http

[2021-07-05 09:39] focussing commented on #3913
The warning did come up again...
[code]

[2021-07-05 12:17] gunters63 opened #4125 "Getting typescript errors (unsafe member access on import.meta.env) since update to 2.4.0"
### Describe the bug

I updated from 2.3.8 to 2.4.0 and I am getting now typescript errors accessing import.meta.env:

 19:3   error  Unsafe member access .PROD on an `any` value  @typescript-eslint/no-unsafe-member-access
   51:19  error  Unsafe member access .DEV on an `any` value   @typescript-eslint/no-unsafe-member-access
  146:9   error  Unsafe member access .DEV on an `any` value   @typescr

[2021-07-05 12:21] bradlc commented on #3716
I have updated the reproduction to something that still doesn't work in `2.4.0-beta.3`. It looks like the issue is fixed when importing CSS from a JS file, but not when using `<link rel="stylesheet">`

[2021-07-05 13:42] sisisiss opened #4126 "How to share variables between SCSS and JS"
### Describe the bug

styles/variables.scss:
$menuBg:#304156;
:export {
menuBg: $menuBg;
}
<script>
   import variables from '@/styles/variables.scss'
   export default {
    computed: {
       variables() { return variables }
   } }
</script>
It does not work
the variables value is ":export {
menuBg: #304156;
}"

### Reproduction

use webpack use :export { to export variables,vite couldnot resolv

[2021-07-05 13:48] hzm18 commented on #4108
已解决。十分感谢，不知道您是如何得知解决方法的

[2021-07-05 13:49] #4108 closed

[2021-07-05 14:30] Miguelklappes commented on #3913
Mine eventually worked, but does a full page reload most of the time with no apparent errors, guess I'll just stick with it for now

[2021-07-05 14:50] OneNail commented on #3716
I opened a new pr to solve this issue #4127

[2021-07-05 15:16] mellester opened #4128 "Vite 2.4.0 Broke my setup"
### Describe the bug

When starting a VITE service via docker it exists with exit code 0 and no apparent error  messages
Downgrading to 2.3.8 solves the problem for me. And it starts working again

I have a php backend via larravel-sail
and use vite for the frontend vue component I have removed everything I thought not really relevant.

### Reproduction

https://github.com/mellester/bug-vite-repro

[2021-07-05 15:17] mellester commented on #4128
I have a good faith belief it is a vite bug. however I can be proven wrong about this

[2021-07-05 15:29] vafanassieff commented on #4128
I'm having the same issue running vite inside docker does not work but it does outside

[2021-07-05 17:13] qgates opened #4131 "Hot reloading Vue SFC stopped working with recent vite builds"
### Describe the bug

In dev mode (npm run dev or npx vite) recent versions of vite aren't detecting vue SFC's when they change. The problem only seems to affect .vue files.

Running `npx vite -d` and saving App.vue in a project doesn't update the browser and gives the following console output:
[code]

package.json:
[code]

Is this a bug or some config change from recent versions?

### Reproductio

[2021-07-05 17:34] hex-ci commented on #4108
@hzm18 从你的报错信息中得知是 ssr 报错，ssr 是在 node 执行的代码，那就说明你的 node 不支持 `?.` 那就是 node 版本太低了~

[2021-07-05 17:37] Akryum commented on #1494
@antfu What do you mean by use vite.config?

[2021-07-05 18:24] jceipek commented on #4125
I believe this was introduced here: https://github.com/vitejs/vite/pull/4031/files#diff-9377bf04a22205467980e8409cb506410c7684f31069a146edba29a5d26c4e4fR2

I think changing `/// <reference path="./types/importMeta" />` to `/// <reference path="./types/importMeta.d.ts" />` would fix the problem

[2021-07-05 18:31] fessacchiotto commented on #1041
Unfortunately is not working with
[code]

When building I get:

[code]

[2021-07-05 18:52] userquin opened #4134 "vite 2.4.0: `importMeta.d.ts` types not exporting `ImportMeta` and `ImportMetaEnv`"
### Describe the bug

Typescript cannot resolve `import.meta.globEager`:
![imagen](https://user-images.githubusercontent.com/6311119/124509431-3fe86e80-ddd2-11eb-9105-4ac1844faed2.png)

### Reproduction

not required, just see `importMeta.d.ts` file

### System Info

[code]

### Used Package Manager

pnpm

### Logs

_No response_

### Validations

- [X] Follow our [Code of Conduct](https://github.

[2021-07-05 19:55] patak-js commented on #1041
Would you open a new issue with a reproduction against 2.4 @fessacchiotto ?

[2021-07-05 21:25] lautiamkok commented on #1265
Using `glob` seems not a good idea. Imagine - if you have thousands of images but the requested page only need to display one of those images in the assets folder.

You might want to store image modules in the Vue store so that any component can access them. Still, don't think this is a good idea as the app can be slow to import thousands of images during run time.

[2021-07-05 22:48] zardoy commented on #3105
But what about a more regular case, if I just simply need to access env variable. For example Snowpack and CRA support this: `<title>%SOME_ENV%</title>`. I also think that this should be documented on the [env page](https://vitejs.dev/guide/env-and-mode.html)

[2021-07-05 23:02] antfu commented on #1494
I mean in TypeScript .ts 😅

[2021-07-05 23:05] IanVS commented on #4134
`globEager` is defined at https://github.com/vitejs/vite/blob/main/packages/vite/types/importMeta.d.ts#L54.  Was this working for you in a previous version of vite, and broke in an upgrade?  Have you added the vite client types as shown in https://vitejs.dev/guide/features.html#client-types?

[2021-07-05 23:21] userquin commented on #4134
Yes, migrated from 2.3.8 or 2.3.7 and updated vía taze, I'll try tmr, thx.

[2021-07-05 23:22] userquin commented on #4134
Why are not exported on d.ts file? I'm missing something??

[2021-07-05 23:31] userquin commented on #4134
I'm testing with vitesse template and have the second approach of the doc using types on tsconfig.json file:

https://github.com/antfu/vitesse/blob/master/tsconfig.json#L17

[2021-07-05 23:35] userquin commented on #4134
It is not a problem since it compiles, but my intellij ide not resolving this type, while using prevoius versión, the entry on tsconfig.json file just resolves the type.

[2021-07-05 23:39] IndexXuan commented on #3105
@zardoy use transform html hook or plugin above.

[2021-07-06 00:13] jy0529 commented on #3522
I created a plugin to do this, support preload's link.
https://github.com/jy0529/vite-plugin-dynamic-publicpath
[code]

[code]

[2021-07-06 00:27] Akryum commented on #1494
I don't understand 🙇

[2021-07-06 00:36] userquin commented on #1494
@Akryum Try to just renaming your `vite.config.js` to `vite.config.ts`.

[2021-07-06 01:23] Alicizational commented on #4012
"2.3.7" could be uesd

[2021-07-06 02:21] danranVm opened #4139 "Vite 2.4.0 start failed with lerna"
### Describe the bug

After upgrading to version `2.4.0`, execution of  `npm start` failed, rollback to version `2.3.0` can be executed successfully

[code]

[code]

### Reproduction

https://github.com/IduxFE/idux

[code]

### System Info

[code]

### Used Package Manager

npm

### Logs

[code]

### Validations

- [X] Follow our [Code of Conduct](https://github.com/vitejs/vite/blob/main/CODE_OF_C

[2021-07-06 02:27] mashirozx opened #4140 "SassError: Can't find stylesheet to import when it contains @forward with _index file"
### Describe the bug

[code]

The `_index.scss` of this dep contains `@forward` rules.

More information:

There is the same problem in webpack, but can be solved like [this](https://github.com/webpack-contrib/sass-loader/issues/804#issuecomment-586095020), but I haven't see options like this in Vite's documentation.

### Reproduction

1. `yarn add @material/chips@canary`
2. In a new Vue3 template

[2021-07-06 02:51] IanVS commented on #4134
It is a property that is being defined on the `ImportMeta` interface, which is what typescript assigns to `import.meta`.

I believe this is probably the same problem as https://github.com/vitejs/vite/issues/4125, and I think the PR I have opened will solve your issue too.

[2021-07-06 04:04] hzm18 commented on #4108
再次感谢

[2021-07-06 05:41] yufengkz commented on #3815
同问，打包后图片资源和css,js 都全部打包到一个文件夹里面了！很乱，要怎么分离打包后的 css,js

[2021-07-06 06:10] wyhaya opened #4142 "plugin-react-refresh does not work"
### Describe the bug

I found when using `plugin-react-refresh` that I had to add an unrelated component for the hot update to work, see the video

https://user-images.githubusercontent.com/23690145/124550539-673b4c00-de63-11eb-86fd-a4d9522119f9.mov

### Reproduction

[vite-test.zip](https://github.com/vitejs/vite/files/6767665/vite-test.zip)

### System Info

[code]

### Used Package Manager

yar

[2021-07-06 07:24] #4125 closed

[2021-07-06 07:25] umidbekk commented on #4134
I fixed it by importing everything manually.

[code]

[2021-07-06 07:31] patak-js commented on #4134
Thanks @umidbekk, could you check that https://github.com/vitejs/vite/pull/4138 fixes the issue for you? You can check the history of PRs there, looks like `import` would fail in other cases so triple dashes were introduced

[2021-07-06 07:31] darophi commented on #3898
Would it be possible to do this without requiring a local package. I have the following structure where generated protofiles are placed in **src/proto**, and i just want to be able to point the config to **src/proto**, and have it transform the the files to ES6.

[2021-07-06 08:19] umidbekk commented on #4134
@patak-js This actually fixed the problem!

So better workaround is:

[code]

[2021-07-06 08:35] tjswk2008 opened #4146 "How to configure @vitejs/plugin-legacy to support IE 9 with vue2 and vite-plugin-vue2？"
### Describe the bug

By now, the build product can work on IE11, but display a blank page without any error message.

### Reproduction

[code]
yarn build
cd dist
hs ./

Here is my repo: https://github.com/tjswk2008/vite-ie9-test

### System Info

[code]

### Used Package Manager

yarn

### Logs

_No response_

### Validations

- [X] Follow our [Code of Conduct](https://github.com/vitejs/vite/blob

[2021-07-06 09:13] userquin commented on #4134
cloning main repo working

![imagen](https://user-images.githubusercontent.com/6311119/124574801-1cadd580-de4b-11eb-8003-02c4220a6f26.png)

[2021-07-06 09:25] jods4 opened #4147 "Vite + Tailwind JIT -> broken HMR"
### Describe the bug

When I add Tailwind (JIT mode) to my PostCSS config, HMR doesn't kick-in for Vue templates anymore.

### Reproduction

Without `tailwindcss` in my `.postcssrc.json`:
![kCHu4zilUb](https://user-images.githubusercontent.com/3832820/124575511-c0978100-de4b-11eb-9908-0c2e391856c2.gif)
Notice the hmr update `home.vue` appearing in terminal (and it works in browser).

Now let's add

[2021-07-06 09:41] #3716 closed

[2021-07-06 09:43] softboy99 opened #4148 "CSS fonts (woff,woff2)in node_modules for production bundle raised 404 error"
demo project: https://github.com/softboy99/vite-devexteme21_1.git.
vite version: 2.5.3
vue version:3.2.7
problems: woff are missing for production bundle. In chrome dev tools, there are 404 errors for .woff file. Which are ok for dev mode.

@softboy99 would you open a new issue against the latest version so we can better track it? Thanks!

_Originally posted by @patak-js in https://github.com/vite

[2021-07-06 09:56] patak-js commented on #4147
Hey @jods4, we just merged https://github.com/vitejs/vite/pull/4127 and it will be part of 2.4.1 (to be released soon). Would you try if this issue is not present against main? Thanks!

[2021-07-06 09:58] jods4 commented on #4147
Yes, I can gladly test it!
What's the best way to grab it?

[2021-07-06 10:04] patak-js commented on #4147
https://vitejs.dev/guide/#using-unreleased-commits

[2021-07-06 10:20] patak-js commented on #4134
Closed in #4138

[2021-07-06 10:20] #4134 closed

[2021-07-06 11:18] wolfgangwalther commented on #4128
Same issue here. Vite 2.4.0 now exits with code 0 immediately. Running it inside docker, too.

[2021-07-06 11:24] OneNail commented on #4131
I can't reproduce this bug, can you help provide a small repro

[2021-07-06 11:29] wolfgangwalther commented on #4128
It works when running vite inside a shell started with `docker-compose run sh` - but it does not when running it with `docker-compose up`.

Adding `tty: true` to the service in `docker-compose.yml` fixed it for me with `up`, too.

[2021-07-06 11:39] patak-js commented on #4128
Could you check if https://github.com/vitejs/vite/pull/4082 fixes your issues?

[2021-07-06 11:47] patak-js commented on #4147
@jods4 vite@2.4.1 has been released, so you can directly test this by updating to it

[2021-07-06 11:49] jods4 commented on #4147
ah thanks, fitting.
I was trying with a local build but had problems (`__DEFINES__` is not defined in vite client)

[2021-07-06 11:54] jods4 commented on #4147
@patak-js  not quite fixed.
In 2.4.1 modifying templates triggers a full page reload, not hmr.

[2021-07-06 12:02] wolfgangwalther commented on #4128
I can confirm it does fix the issue.

[2021-07-06 12:09] patak-js commented on #4147
@OneNail would you take a look at this one?

[2021-07-06 12:29] patak-js commented on #4128
@mellester you can directly update to vite@2.4.1 to test this

[2021-07-06 13:35] OneNail commented on #4147
I can't reproduce this, hmr works fine when I use tailwind and vue together,  @jods4 can you provide a small repro, thanks

[2021-07-06 13:48] jods4 commented on #4147
😣
Ok I just tried to put up a minimal repro but it seems to work for me as well...
There must be something more in my project, but it's a large project... oh well let me try to isolate what triggers the issue.

[2021-07-06 13:52] patak-js commented on #4147
@jods4 I'll close this one, please open a new issue with the reproduction. Thanks!

[2021-07-06 13:52] #4147 closed

[2021-07-06 13:56] jods4 opened #4150 "Vite + router + tailwind JIT -> full page reload"
### Describe the bug

Follow up of #4147 , when editing Vue templates, I get full page reload instead of HMR.

### Reproduction

https://github.com/jods4/bug-vite-tailwind/

Go into HelloWorld.vue, change the class `bg-yellow-400` into `bg-green-400`.

Notice on the terminal or in the browser that vite triggered a full page reload. I'd expect HMR here.

I first tried without Vue router and it work

[2021-07-06 13:57] jods4 commented on #4147
See #4150. I was lucky, the 1st thing I tried to bring in triggered the issue.

[2021-07-06 13:58] Snugug opened #4151 "Expose resolvedRoot"
### Clear and concise description of the problem

When trying to integrate 3rd party tools with Vite, in my case Eleventy, I need to know the resolved project root in order to properly configure Eleventy. As discussed in Discord, while this can be determined using the exposed `normalizePath`, having a consistent method to call that returns the root may be generally useful for integration with othe

[2021-07-06 14:01] adamlindqvist commented on #4142
Maybe not much of help but just want to addi that I'm experiencing similar issues on my end after updating from 1.3.8 to 1.4.1. However I have problems isolating the problem in a minimal repo.

My issue is that it performs a hard reload every time I edit a file that's within a sub-folder to `src/` e.g. `src/components/Button.tsx` or `src/pages/StartPage.tsx`

[2021-07-06 14:16] Ambitie commented on #611
Please Fix .Otherwise I have to use wsl1

[2021-07-06 14:34] OneNail commented on #4150
In the repo, `HelloWorld.vue` has no class `bg-yellow-400`

[2021-07-06 14:42] jods4 commented on #4150
I'm sorry, I have no idea what happened! The code that was pushed is not the right one at all...

Please take a look here:
https://github.com/jods4/bug-vite-tailwind/

[2021-07-06 14:44] yassinebridi commented on #4150
I have the same issue with React and tailwind JIT, while using `@vitejs/plugin-react-refresh` the `1.3.5` version

[2021-07-06 14:47] mecograph commented on #88
Unfortunately the plugin @JesusTheHun mentioned didn't work for me but the solution @kfurfles did with slight modifications. I had to change the `compilerOptions` a bit:
[code]

[2021-07-06 18:39] mellester commented on #4128
@patak-js  it did not fix it by upgrading to 2.4.1
however
@wolfgangwalther
`Adding tty: true to the service in docker-compose.yml fixed it for me with up, too.`
Did fix it for me

[2021-07-06 18:49] patak-js commented on #4128
Ok, I think we should then close this issue for the moment. Please open a new one that is more specific if you think Vite should still change something and this shouldn't be the responsibility of the user while configuring docker.

[2021-07-06 18:59] qgates commented on #4131
Hi again, seems that the problem occurred by coincident with the release of v12.0 [`vite-plugin-components`](https://github.com/antfu/vite-plugin-components) and has been fixed in v12.1. Sorry to trouble you and thanks for your ongoing work and support!

[2021-07-06 18:59] #4131 closed

[2021-07-06 20:39] wolfgangwalther commented on #4128
Why would that help? #4082 is not merged, yet, and therefore not part of 2.4.1.

I made the same changes as in #4082 locally and it does indeed fix the issue here - no `tty: true` needed anymore. But it's certainly not included in 2.4.1, yet.

It should be closed when merging #4082. Right now the issue still persists, even though there is the workaround I posted above.

[2021-07-06 20:40] patak-js commented on #4128
Thanks @wolfgangwalther, I thought we had managed to merge it before 2.4.1, this will be in the next version then.

[2021-07-06 20:51] wolfgangwalther commented on #3626
Still an issue with 2.4.1

[2021-07-06 21:40] kgullion commented on #2642
I'm running into this in production with audio-worklets. `import processorUrl from "../worklets/audio-processor.ts?url";` works great in dev but throws "DOMException: The user aborted a request." in production. Seems like the behavior is inconsistent.

On a side note, it would be nice to have a "*?worklet" hook that [registers the module](https://developer.mozilla.org/en-US/docs/Web/API/Worklet/ad

[2021-07-07 02:20] pankaj-kumar34 opened #4159 ""vite-plugin-react can't detect preamble. Something is wrong." when using dustjs html template"
### Describe the bug

When I'm rendering dustjs template, I get the following error:
Uncaught Error: @vitejs/plugin-react-refresh can't detect preamble. Something is wrong. See https://github.com/vitejs/vite-plugin-react/pull/11#discussion_r430879201

### Reproduction

When creating a new project I don't run into this problem. However, I'm trying to integrate vite into my project which renders dus

[2021-07-07 03:43] softboy99 commented on #4044
@patak-js , new issue #4148

[2021-07-07 04:48] partoneplay opened #4160 "error: [plugin: vite:dep-scan] Failed to resolve entry for package "@material-ui/core/CssBaseline""
### Describe the bug

Can not `import CssBaseline from "@material-ui/core/CssBaseline"`
[code]
I checked #3800 #3057, but no solution.

### Reproduction

1. `npm init @vitejs/app my-react-app -- --template react`
2. Modify `package.json`
[code]
3. Modify `src/main.js`
[code]
4. `npm install && npm run dev`

### System Info

[code]

### Used Package Manager

npm

### Logs

[code]

### Validations

[2021-07-07 06:22] caijiehong commented on #4114
I got this bug too

[2021-07-07 06:23] patak-js commented on #2642
@kgullion could you open a new issue with a minimal reproduction linking to this one so we can properly track your issue? Thanks!

[2021-07-07 06:46] luukdv commented on #4150
Seeing this issue without `vue-router` as well (`vite@2.4.1` + `tailwindcss@2.2.4` in JIT mode).

[2021-07-07 07:19] GrygrFlzr opened #4161 "`vite:resolve` plugin incorrectly resolves `knownJsSrcRE` files from root"
### Describe the bug

https://github.com/vitejs/vite/blob/98d95e3e11bbc43e410b213b682e315b9344d2d7/packages/vite/src/node/utils.ts#L109

When attempting to access any files with an extension that matches the `knownJsSrcRE` regex, the `vite:resolve` plugin attempts to load them from the root of the filesystem. The following code in the plugin is the branch taken by such files.

https://github.com/v

[2021-07-07 07:35] mdugue commented on #3413
@Ronbb were you successfull working around that problem?

[2021-07-07 07:51] Shinigami92 commented on #3626
Please link the PR that is currently targeting this if there is one

[2021-07-07 08:21] capaj opened #4162 "Vite out of memory"
### Describe the bug

I am consistently getting out of memory. It increases with the amount of changes I do to my ts files.
If I change them a lot, it can run out of memory in like 30 minutes. If I just keep it running and don't work on anything it runs fine for days, weeks even.

We do have one custom plugin which does babel transpilation, it is this one:
https://github.com/capaj/vite-lingui-poc/

[2021-07-07 08:38] cossssmin commented on #4150
Similar issue here, using `vite@2.4.1`, `vite-plugin-vue2@1.7.2`, `vue-router@3.5.2`, `tailwindcss@2.2.4`.

When saving a component, in almost all cases the CSS will not be updated. HTML _is_ being updated with HMR, but CSS is not. Weirdly, in very few cases, CSS will be properly updated but I can't see a pattern that would explain why.

I have to go save `tailwind.config.js` in order for CSS to b

[2021-07-07 08:41] umidbekk commented on #4162
@capaj as you can see error comes from babel:
[code]
We had similar issue in our codebase, so we increased heap size to `4096` and problems went away:

[code]

[2021-07-07 09:01] capaj commented on #4162
We're actually using `NODE_OPTIONS=--max_old_space_size=6000`

[2021-07-07 09:06] BluesYoung-web commented on #4126
change the name from `variables.scss` to `variables.module.scss`

[2021-07-07 09:06] OneNail commented on #4150
In this repo `https://github.com/jods4/bug-vite-tailwind/`, vite's version is 2.3.3. It works fine as change version to 2.4.1. I changed the `HelloWorld.vue` file, hmr works, not reload.

[2021-07-07 09:10] OneNail commented on #4150
@patak-js Excuse me, can this bug be reproduced on your side?

[2021-07-07 09:18] patak-js commented on #4150
There should be an issue with the reproduction provided by @jods4
@cossssmin @luukdv @yassinebridi could you provide a minimal reproduction so it is easier to check the issue? Thanks!

[2021-07-07 09:25] jods4 commented on #4150
@OneNail I double-checked, and as can be shown in System info, npm restored vite 2.4.1 on my machine as it satisfies ^2.3.3.
I am seeing full page reloads with this repro.

Check this, you can see Vite version (2.4.1) and the full page reloads instead of HMR:
![cB2s9IWnWF](https://user-images.githubusercontent.com/3832820/124735108-03be2680-df16-11eb-8a37-c18c38fda023.gif)

[2021-07-07 09:25] Ronbb commented on #3413
@mdugue not yet, sorry

[2021-07-07 09:38] #3761 closed

[2021-07-07 10:23] vdenisenko-waverley opened #4164 "Support array as a config"
### Clear and concise description of the problem

At the moment multiple inputs are not supported as well as Rollup.

In [rollup config](https://rollupjs.org/guide/en/#configuration-files) there is a possibility to specify an array as a config which is very helpful in case of named builds, so I can optionally choose bundles as `npm run build <bundle1> <bundle4>`. That would be great to support tha

[2021-07-07 11:17] anncwb commented on #4150
The same problem, not yet found the cause

[2021-07-07 12:55] Snugug commented on #4068
In case anyone comes across this later and is curious of the resolution, after being unable to create a minimal test case to reproduce this, I checked all my dependencies and saw i was on Vite 2.2. Upgrading to 2.4 resolved the sync/async race condition I was seeing, so I'm guessing async config landed in 2.3.

[2021-07-07 13:09] harrytran998 commented on #4160
Yeah, I'm having the same issue as that after update Vite to the latest(2.4.1). Not only `@material-ui/core/CssBaseline`. If we import like this `@material-ui/core/UI_componen_name` --> Error. Hope Vite team can fix it! Thanks

[2021-07-07 13:11] dejour opened #4165 "#4061 seems like break running vite in dev mode"
### Describe the bug

i was gonna do some testing in resolve playground with vite running in dev mode. then got following error.

[code]
it looks like it's caused by #4061.

### Reproduction

you can test it in any playground using vite in dev mode.

### System Info

[code]

### Used Package Manager

yarn

### Logs

_No response_

### Validations

- [X] Follow our [Code of Conduct](https://github.

[2021-07-07 13:31] bradlc commented on #3716
`2.4.1` works great, thanks for the fix! ❤️

[2021-07-07 15:32] OpakAlex opened #4166 "Production build ignores vue-flatpickr-component"
### Describe the bug

When i build as production env, then on my page no vue-flatpickr-component at all.

PS: if you will close this ticket, i will never use your solution, even i will tell to my grandmother don't use it. ;)

### Reproduction

* `yarn add vue-flatpickr-component`
* add simple component
* build production
* open dist/index.html

### System Info

[code]

### Used Package Manager

ya

[2021-07-07 15:54] kgullion opened #4167 "dev and prod have inconsistent content-types for .ts files"
### Describe the bug

`.ts` files imported via the `*?url` hook have different content-types. In dev, the .ts file is served with the content-type `application/javascript` while in prod it is served as a `video/mp2t` dataUri.

Related: #2642

### Reproduction

https://github.com/kgullion/vite-typescript-audio-worklet-example

The first 2 lines of `src/main.ts` are sufficient for reproduction. I've

[2021-07-07 16:02] speigg commented on #2337
@airhorns yes

[2021-07-07 16:07] speigg commented on #3093
I've suggested this on an PR, but I'll say it again; Can we use `new URL(document.currentScript.src).hostname/port` instead of `location.hostname/location.port` as the default hostname? It's more reliable to assume that the websocket server is on the same domain as the client script, than to assume that the websocket server is on the same domain as the current page (this would allow for things to

[2021-07-07 20:08] husayt opened #4169 "`--https` and `root` get ignored during `vite preview`"
### Describe the bug

running `vite preview myfolder`
It doesn't serve contents of `myfolder`

running `vite preview --https`
doesn't serve `https`

### Reproduction

see above pls

### System Info

[code]

### Used Package Manager

pnpm

### Logs

_No response_

### Validations

- [X] Follow our [Code of Conduct](https://github.com/vitejs/vite/blob/main/CODE_OF_CONDUCT.md)
- [X] Read the [Contrib

[2021-07-07 22:15] a-tonchev commented on #2460
Hi @josepot can you share you solution, and how did you manage to tellwhich chunks to be shared? I also need something similar for the 5 top chunks used. Thanks in advance

[2021-07-08 00:27] partoneplay commented on #4160
I update Material-UI to v.4.12.1 solve the problem. Check the release node of [v4.12.1](https://github.com/mui-org/material-ui/releases/tag/v4.12.1)

[2021-07-08 00:27] #4160 closed

[2021-07-08 03:16] SheepReaper opened #4170 "Vite 2.4.x can't find sass"
### Describe the bug

Upgrading to either 2.4.0 or 2.4.1 causes vite to stop finding sass. 2.3.8 is fine. My App.vue uses scss style import.

Check out reproduction link. main branch has 2.3.8 works fine, vite-2.4.x-bug branch has the issue.

[code]

### Reproduction

https://github.com/SheepReaper/Sheep.CommandAndControl.git

[code]

### System Info

[code]

### Used Package Manager

yarn

### Lo

[2021-07-08 03:57] xdlmr opened #4171 "vite项目中使用postcss-scss报错"
### Describe the bug

项目运行时报错：**[vite] Internal server error: Loading PostCSS Syntax failed: Class extends value undefined is not a constructor or null** 具体如下图
![image](https://user-images.githubusercontent.com/14134455/124859478-9deba080-dfe2-11eb-8d61-04f2ab74ef60.png)

### Reproduction

使用vite init 初始化的项目
其中postcss.config.js文件
[code]
packag.json
[code]

### System Info

[code]

### Used Package

[2021-07-08 04:09] PRossetti commented on #2349
Having the same issue here. Trying to use decorators with js (not typescript) because I'm working in a project that uses [mobx](https://www.npmjs.com/package/mobx) to state management and [mobx](https://www.npmjs.com/package/mobx) uses decorators.

[2021-07-08 05:17] farzadso commented on #1434
I can confirm I have the same issue as @JonathanSchndr

[2021-07-08 05:33] patak-js commented on #1434
@JonathanSchndr @farzadso could you open a new issue with a reproduction?

[2021-07-08 06:07] patak-js commented on #4170
@fwouts would you check that this isnt related to https://github.com/vitejs/vite/pull/3988?

[2021-07-08 07:10] fwouts commented on #4170
I investigated, I think this is an error that happens specifically when using Yarn PnP. When using Yarn v1, the error disappears.

Here is a screenshot of the underlying error, which was hidden behind [this global catch](https://github.com/vitejs/vite/blob/10ab4ba5bb15de13f95bd5848167727683e736b8/packages/vite/src/node/plugins/css.ts#L950):
<img width="942" alt="Screen Shot 2021-07-08 at 5 00 42 p

[2021-07-08 07:35] ambar opened #4173 "`process.env.NODE_ENV` in package.json is incorrectly replaced"
### Describe the bug

[code]

### Reproduction

[code]

### System Info

[code]
[code]
[code]

[2021-07-08 07:38] JonathanSchndr commented on #1434
#3566

[2021-07-08 07:49] jeff-fe opened #4174 "vite.config resolve.extensions.length=0 is error"
### Describe the bug
[code]

### Reproduction

vite 2.4.1

### System Info

[code]

### Used Package Manager

npm

### Logs

_No response_

### Validations

- [X] Follow our [Code of Conduct](https://github.com/vitejs/vite/blob/main/CODE_OF_CONDUCT.md)
- [X] Read the [Contributing Guidelines](https://github.com/vitejs/vite/blob/main/.github/contributing.md).
- [X] Read the [docs](https://vitejs.de

[2021-07-08 07:52] joenix opened #4176 "i use `define` in custom vite plugin, but it not work in runtime project ~"
### Describe the bug

[code]

### Reproduction

#### in vite-plugin-custom

[code]

#### in project `main.js`

[code]

### System Info

[code]

### Used Package Manager

yarn

### Logs

_No response_

### Validations

- [X] Follow our [Code of Conduct](https://github.com/vitejs/vite/blob/main/CODE_OF_CONDUCT.md)
- [X] Read the [Contributing Guidelines](https://github.com/vitejs/vite/blob/main/.git

[2021-07-08 08:02] jeff-fe commented on #4174
hi  @antfu ，I have other problem is not solved. Please help
[code]
This config in vite 2.3.8 is work ok,
but in vite 2.4.0+ is error
@vite/client http request is 404 not found.

![image](https://user-images.githubusercontent.com/19850462/124885422-d2bd1f00-e005-11eb-938a-f5247139315d.png)

Thanks♪(･ω･)ﾉ

[2021-07-08 08:07] #3051 closed

[2021-07-08 08:11] bihongbin3027 commented on #1389
使用了你这个配置是可以的，
![image](https://user-images.githubusercontent.com/15045200/124886763-254b0b00-e007-11eb-959f-97f6aed76447.png)
但是启动项目的时候，会弹出这么多

[2021-07-08 08:30] joenix commented on #4176
maybe need set define into config, and use `process.env` as key

[code]

[2021-07-08 08:30] #4176 closed

[2021-07-08 08:32] ygj6 commented on #4174
Because PR #4061 changed `@vite/client` to `.mjs` suffix
https://github.com/vitejs/vite/blob/d377aae05f73779869ba84c91e050fe0a9f50dce/packages/vite/src/node/constants.ts#L44

Adding `.mjs` works fine
[code]

[2021-07-08 08:35] theprimone commented on #1389
这是样式按需加载导致的，页面首次加载会有这个问题，可以考虑在开发环境全量引入 antd 的样式，编译的时候使用这种方式。这么一说，今晚我就研究一下这种方式看看。

[2021-07-08 08:37] bihongbin3027 commented on #1389
好的，研究出来了分享一下，哈哈

[2021-07-08 08:50] jeff-fe commented on #4174
Thanks @ygj6

[2021-07-08 10:55] yuanjinyong commented on #2891
I find there is a "allowUnknownOptions" property in vite/dist/node/cli.js. And it used at
`  checkUnknownOptions() {
    const {options, globalCommand} = this.cli;
    if (!this.config.allowUnknownOptions) {
      for (const name of Object.keys(options)) {
        if (name !== "--" && !this.hasOption(name) && !globalCommand.hasOption(name)) {
          throw new CACError(`Unknown option \`${name.l

[2021-07-08 11:28] soulcm commented on #2349
yes, my project use `mobx` too.  I have renamed the file from jsx to tsx and work fine.

[2021-07-08 11:32] Shinigami92 commented on #2349
I would count this as a very smart workaround 🙂

[2021-07-08 12:33] theprimone commented on #1389
@bihongbin3027 重新回顾了一下，只是第一次加载 vite 没有编译过的资源才会如此，之后都 ok 了，因此硬要做这点优化好像没什么必要 :joy:

[2021-07-08 13:00] hex-ci commented on #4070
@sodatea 这个看起来并不是 `dynamic-import-vars` 插件的限制导致的问题，因为我在项目里这么使用没有报这个错误，相反直接用 `import('./views/**/*.vue')` 会报这个错误。正常来说题主的写法不应该有问题。

[2021-07-08 14:22] dhhanush commented on #1215
@spacemonkey1101 @MuzafferDede vite is by default installed as dev dependency and in production dev dependencies are not installed, and to build in the server heroku needs vite which is not available, so its throwing the error.
To let know heroku to install dev dependencies, we need to set npm config production to false.

Using heroku cli :  `heroku config:set NPM_CONFIG_PRODUCTION=false YARN_PROD

[2021-07-08 15:58] web2033 commented on #4173
Try this
[code]
or this
https://vitejs.dev/guide/env-and-mode.html#modes

[2021-07-08 17:01] hatemjaber commented on #3176
I've burned a lot of time trying to figure this out. Are we not able to access `process.env.WHATEVER`? Even in an endpoint which are "server side" or the hooks file? I want to have private env variables that are only exposed to the server so that they're not exposed to the browser, how do I do that?

[2021-07-08 17:07] sodatea commented on #3977
Though I can't reproduce this issue under macOS Big Sur, after looking into the generated code, I find that it is a bug caused by the `ignoreDepPlugin` in the build config.

https://github.com/vitejs/vite/blob/d377aae05f73779869ba84c91e050fe0a9f50dce/packages/vite/rollup.config.js#L154-L159

The dependencies are not ignored, but shimmed with an empty object, which confuses the `ws` package.

I'll

[2021-07-08 17:18] hatemjaber commented on #3176
Until there's a solution for this, is safe to import `dotenv` in the hooks file and use `process.env['WHATEVER']` in server side code? I tried to access those variables in svelte files and it seems that vite does ignore them by default; I'm assuming it's safe and the only workaround at the moment.

[2021-07-08 19:30] hkjpotato commented on #1374
`aws-amplify` depends on `aws-sdk`, which upgrade itself to differentiate the node and js runtime by using the `browser` field. However, its browser field setting is as follows:
[code]

Currently this relative path could confuse vite resolver.

[2021-07-08 19:48] SheepReaper commented on #4170
WAG here, but could it be due to using require instead of import? Imports appear to all be resolved correctly. yarn pnp supports workspaces (my proj is workspace hence the pnp file in there at the root and then again in the module)

[2021-07-08 20:09] gbahamondezc commented on #1955
There is an open  [PR here](https://github.com/sodatea/vite-jest/pull/1/commits/43b731308b8a3538b1324f95a361222b1cda3e88) with a React TypeScript example that seems to be working fine.

[2021-07-08 21:17] loadpixels commented on #4089
I seem to be having the same problem - however I was using `npm install ../path/to/library` rather than `npm link`

Everything works fine in dev mode, but when it's built all slots fail and i lose bits of styling.

I've tried following what the links you provided suggested by deleting my node_modules folder from the library project, but no joy.

Have you found a solution?

[2021-07-09 00:09] merceyz commented on #4170
Based on the screenshot from @fwouts the issue in your reproduction is that you have two `.pnp.js` files that control the same path so it doesn't know which one to pick and throws an error.

To get rid of that error you can tell the one at the root to ignore the one at `/src/ListeningPostWebUi` using https://yarnpkg.com/configuration/yarnrc#pnpIgnorePatterns, however, since you're using workspaces

[2021-07-09 00:28] dzearing commented on #3628
This looks to be specific to esbuild, where bundle order is prioritizing export order over import order.

Logged here:
https://github.com/evanw/esbuild/issues/1433

[2021-07-09 00:57] MuzafferDede commented on #1215
@dhhanush that's really helpful! thanks. I didn't consider the production/dev environment at all :) Cheers

[2021-07-09 02:41] bihongbin3027 commented on #1389
好

[2021-07-09 02:57] ambar commented on #4173
@web2033 That's inconvenient for testing env.

[2021-07-09 03:06] adiun commented on #1491
In case it helps others, I put together an example monorepo using npm 7 workspaces (I recently removed lerna on our team in favor of npm 7 workspaces).

There's some other features here I needed like TS Project Reference integration, React component library support, and Storybook integration -

https://github.com/adiun/vite-monorepo

[2021-07-09 03:44] yinzhenyu-su opened #4180 "Vite cannot load configuration files in the link directory"
### Describe the bug

Failed to package in the linked directory，Because the configuration file was not successfully loaded.

[code]

is this code, `filename` resolves to realpath but the `fileName`  is link path.  therefore lead to use defaultLoader to load `vite.config.ts` which is `undefined` loader.
so. my fix is use fs.realpathSync to get real `fileName` dir, and that's work for me.

[code]

#

[2021-07-09 04:43] cj1128 commented on #3295
Any updates?

Can we have an option that enables emitting assets separately in lib mode?

[2021-07-09 05:17] dmx374 opened #4182 "HMR broken since 2.3.7"
### Describe the bug

See UPDATE below.

I have pretty big project with nested components.
Basically this is what happened:
v2.3.6 --> HMR OK, everything is working fine
v2.4.0-beta-0 --> HMR not correctly updating a child component (only CSS / tailwind changes, but it doesn't react to html changes in my vue template, i.e: adding text does nothing)
v2.4.0-beta-1 --> HMR is not working anymore when

[2021-07-09 05:41] OneNail commented on #4182
Similar to this issue #4150 ，can you help to try this [repo](https://github.com/jods4/bug-vite-tailwind) and see if there will be same bug on your side. If you are going to try this repo, change vite's version to 2.4.1 in `package.json`.

[2021-07-09 06:18] SheepReaper commented on #4170
@merceyz  That seems to fix it. I fiddled with it enough to get the pnp.js in the workspace to go away and not come back every time I ran yarn install. Just head scratching because it was working even when there was 2. But I don't know enough about it to want to look at it deeper, my primary concern is addressed....

[2021-07-09 06:19] JiquanWang99 commented on #3413
I met the same problem, the version of vite 2.4.1

[2021-07-09 06:21] williamyorkl opened #4184 "Support HTTP2 and Proxy at the same time?"
### Clear and concise description of the problem

Hi there, is there any way that I can turn on the `https` and `proxy`  options on vite.config.js at the same time ? Because I want to use http2 and proxy...

Because as what vite officially in the document states that if the `proxy` option is on, then it will downgrade and `TSL` only, which mean it will lose `http2` function..

![image](https://use

[2021-07-09 06:33] williamyorkl commented on #484
Is it possible to use http2 in `http` mode only, not `https` ?

[2021-07-09 06:39] JiquanWang99 commented on #3413
I can't solve this same problem when I use vite 2.2.4

[2021-07-09 07:09] williamyorkl commented on #484
seems that this module would work ? @mariusa
https://www.npmjs.com/package/http2-proxy

[2021-07-09 07:14] sodatea opened #4185 "Make `vite preview` error-tolerant when the default port is in use"
### Clear and concise description of the problem

It is said that the new AirPlay feature in macOS Monterey is using port 5000 and port 7000. https://developer.apple.com/forums/thread/682332.

In the current implementation, `vite preview` will straightly fail when port 5000 is in use. So it will fail by default in the new system.

### Suggested solution

I don't know if the default port of this ne

[2021-07-09 07:20] tomoam commented on #4124
If you approve this proposal, I would like to work on this and create a PR.

[2021-07-09 07:29] kohlerm opened #4186 "Build failure with React-dom and rollup-plugin-polyfill-node"
### Describe the bug

I ran into an issue when trying to use the
rollup-plugin-polyfill-node with Vite in combination React-dom

A simple example is here:
https://github.com/kohlerm/polyFillIssue

I get the error

[code]
Any hint how I could get around this issue?

### Reproduction

check
https://github.com/kohlerm/polyFillIssue

Run yarn build

### System Info

[code]

### Used Package Manager

y

[2021-07-09 07:32] Shinigami92 commented on #4185
According to this source https://en.wikipedia.org/wiki/List_of_TCP_and_UDP_port_numbers there are many tools that uses port `5000`
What about to change the port to `5050`? :thinking:
This seems okay to me, is not so much in use and it is like Tomcat `8080`

[2021-07-09 07:40] dmx374 commented on #4182
I updated the issue, the problem starts @ version 2.3.7

[2021-07-09 08:02] Shinigami92 commented on #4089
@tamasfe Please feel free to create a PR to update the docs https://github.com/vitejs/vite/blob/d377aae05f73779869ba84c91e050fe0a9f50dce/docs/guide/dep-pre-bundling.md#L37

[2021-07-09 08:15] mushan0x0 commented on #2280
@yyx990803 v2.4.1 same problem

[2021-07-09 08:35] asecher commented on #4042
I found a workaround :

[code]

[2021-07-09 09:03] MrYakobo commented on #1076
Don't know if it's relevant here, but I got 404 when starting up the dev server. The problem was that in `vite.config.js`, I had defined this since earlier:

[code]

because I'm currently migrating my build to vite from Vue2 webpack template (`vue init webpack`), which historically has had [that ruled defined][1] to be able to do `import Menu from @/components/Menu.vue`.

It made the script `@vite

[2021-07-09 09:10] mushan0x0 commented on #2280
Problems with plugins: https://github.com/onebay/vite-plugin-imp/issues/7#issuecomment-877030438

[2021-07-09 09:22] patak-js commented on #2280
Comments in old closes issues will probably get ignored. If you have found a concrete bug, please build a minimal reproduction and create an issue against the latest version of Vite and you can reference this one

[2021-07-09 09:59] sodatea commented on #4185
`5050` looks cool!

But the port `5000` is already documented https://vitejs.dev/guide/static-deploy.html#testing-the-app-locally
Let's put it in the backlog for v3 breaking changes 😂

[2021-07-09 11:33] wobsoriano commented on #330
I guess the [petite-vue](https://github.com/vuejs/petite-vue) repo is a good example

[2021-07-09 11:58] Secretmapper opened #4194 "Allow custom vite env prefix"
### Clear and concise description of the problem

As a developer using Vite I want to be able to set a custom prefix for VITE env variables.

### Suggested solution

It seems that [`loadEnv`](https://github.com/vitejs/vite/blob/19abafeedda8008f4cc9eeda4cf8cb46e57de8b9/packages/vite/src/node/config.ts#L906) already accepts a `prefix` argument. If the prefix can be passed via a vite config/option, t

[2021-07-09 12:41] akvadrako opened #4196 "vite.createServer() exits if process.env.CI != 'true'"
### Describe the bug

Today I spent a few hours tracking down some odd behavior in vite. I was using the dev server middleware like this:

[code]

When I ran this within `docker-compose run` it worked, but when I used `docker-compose up` it would just immediately exit:

[code]

It turns out this was because of this block from vite:

[code]

I suggest removing this block, as a middleware should not

[2021-07-09 13:35] AlonMiz commented on #1309
we started to migrate our monorepo to vite. our biggest frontend project has around 2800 modules on load.
we were able to reduce it to 1800 with lazyload after some work.
currently, we offer vite as an alternative alongside webpack, but it's not the default bundler yet, in dev.
the main reason why we can't deprecate our webpack dev in favor of vite alternative is that it takes a long time to reloa

[2021-07-09 14:28] Shinigami92 commented on #4194
Could you give an explain about the **why**?

[2021-07-09 15:37] verynong commented on #4070
我之前是用import('../views/**/*.vue')这个写法的⬇️所以才报错的
component: () => import(`../views/${prePath ? `${prePath}/` : ''}${fileName}.vue`)

[2021-07-09 15:59] hex-ci commented on #4070
@verynong 那这个问题就很明确了，这就是 rollup 插件的问题或者说限制，我个人觉得和 Vite 本身关系不大，要解决也应该是 dynamic-import-vars 插件来解决或增强。或者是 Vite 自己重新写个插件来代替他。

[2021-07-09 16:04] verynong commented on #4070
@hex-ci 你说的对，我开始没搞清楚🌚

[2021-07-09 16:45] pjoulot commented on #1997
The plugin of @olemarius is life savier! Thank you so much, works like a charm.

Not my case yet, but if you have 2 different react apps built with vite and embed in the same website, then I guess you have 2 assets folders to make available through your server configuration and if you have 2 files with the same name then you have a conflict. I don't think the server configuration is a valid soluti

[2021-07-09 17:57] Kostia-K opened #4198 "CSS input missing from manifest.json"
### Describe the bug

When I specify an SCSS file as an input in `rollupOptions`, it get compiled correctly in dist/assets but it's missing from manifest.json.

I guess this is not a standard use case. I'm primarily using Vite to add Vue to a Django website which works great. But the website has quite a bit of SCSS which I would like to build with Vite as well.

I can make a js entrypoint file tha

[2021-07-09 18:24] yang867381349 opened #4199 "vite ssr与三方UI插件"
### Describe the bug

有关vite ssr 中。比如我需要借助 三方的ui 插件来实现一些需求功能。
element-plus 中的 Cascader 级联选择器 不可以使用和其它小部分组件
和
naiveui 在ssr中的使用 任然遇到我们开发者无法解决的问题。
ssr 中在每个框架也好库的引入方式也好，都有自己的标准！！！

### Reproduction

<img width="1167" alt="1625845033066_FFDB82D0-610B-4088-8DFE-02EF2C4E8BB2" src="https://user-images.githubusercontent.com/20942938/125120692-646f7e00-e125-11eb-845b-64e7cb2ff671.png">

### System Info

[co

[2021-07-09 19:22] PRossetti commented on #2349
Didn't you need any other change in `vite.config.js`? did you had to add a `tsconfig.json` file?

[2021-07-09 19:51] ciphersha commented on #2049
This works perfectly fine in Vite. @yyx990803  mentioned `--emitDeclarationOnly` flag, but as far as I know, you could get some more advanced options using the `@rollup/plugin-typescript` plugin which is very well [documented](https://www.npmjs.com/package/@rollup/plugin-typescript).

[code]
In package.json
[code]
Then `yarn build`

This gives me a dist file containing:

[code]

[2021-07-09 23:40] maxbeatty commented on #4079
I found my way here debugging vite-jest not working with vite@2.4. It looks like #4082 is close to merging so hopefully a fix can be published soon. In the meantime, using vite@2.3 or setting `CI=true` (e.g. `CI=true vite-jest`) seems to work around this.

[2021-07-10 02:50] ygj6 commented on #4185
Coincidentally, I have a background service that also uses port `5050`.
If the port is occupied, it will automatically `+1`, which I think is very good.
I am willing to contribute this feature.

[2021-07-10 03:00] yang867381349 commented on #4199
https://github.com/yang867381349/error

[2021-07-10 03:36] k0o commented on #1361
EL HOMBRE!

[2021-07-10 04:56] 5IM-I-LAR commented on #2452
I tried running npm config set ignore-scripts false and nothing happens?

[2021-07-10 08:42] sodatea commented on #4084
The reproduction repository doesn't contain any usage of `import.meta.globEager`.

[2021-07-10 08:43] sodatea commented on #4165
Will be fixed by https://github.com/vitejs/vite/pull/4183

[2021-07-10 09:26] sodatea commented on #4199
这个明显是 element-plus 的 bug，跟 Vite SSR 无关。

[2021-07-10 09:26] #4199 closed

[2021-07-10 09:36] sodatea commented on #4199
哦不对，是 Vue 的 bug。

https://github.com/vuejs/vue-next/blob/ef5c41523f98dbb9c26700fa3b987a2fae26b4e1/packages/runtime-core/src/apiWatch.ts#L252-L267
这段代码没有考虑到 isMultiSource 的情况。

[2021-07-10 09:40] dominikg commented on #4194
I like the idea.

- `VITE_` doesn't really tell you what that prefix does, some may prefer using something like `EXPOSED_` or `PUBLIC_`
- Frameworks using vite might want to use their own syntax
- You could expose different subsets of envs to different builds

[2021-07-10 10:26] CSY54 opened #4200 "Broken link to RFC in App.vue for Vue template"
### Describe the bug

I've just initialized a Vue app with Vite and found that the link to RFC for `<script setup>` in [`App.vue`](https://github.com/vitejs/vite/blob/main/packages/create-app/template-vue/src/App.vue#L10) is broken.
Should it be https://github.com/vuejs/rfcs/blob/master/active-rfcs/0040-script-setup.md?

### Reproduction

https://github.com/vitejs/vite/blob/main/packages/create-ap

[2021-07-10 10:40] rossng commented on #3093
I was also caught out by this. I am using Packetriot (similar to Ngrok) the HMR websocket would not connect. This creates a really bad user experience since Vite's client will refresh the page after one second if the websocket connection fails to establish.

@speigg's PR (#4168) looks like the correct direction to go in. What problem were you having with it? I'd also like to help get this fixed.

[2021-07-10 10:56] Shinigami92 commented on #4200
Would you open a PR for that? :slightly_smiling_face:

[2021-07-10 10:59] Shinigami92 commented on #4185
Okay, I think this will be fine. Then let the default be `5000` but check and increment if needed.

[2021-07-10 11:10] CSY54 commented on #4200
Of course!

[2021-07-10 11:17] ygj6 commented on #4185
Great, I will submit a PR as soon as possible.

[2021-07-10 12:15] #4200 closed

[2021-07-10 15:42] bosens-China opened #4204 "When importing the third-party module, the result of react is inconsistent"
### Describe the bug

I tried to test the rolloop build package file and found inconsistencies running on vite

### Reproduction

## Source code
[code]

## demo
[code]

## Output information
[code]

## Correct results
[code]

### System Info

[code]

### Used Package Manager

yarn

### Logs

_No response_

### Validations

- [X] Follow our [Code of Conduct](https://github.com/vitejs/vite/blob/main

[2021-07-10 17:56] ngduc commented on #3817
Thanks @Niputi That works for dev mode, but not in Prod build.

I also fixed it for Prod build by using browserify to include those libs here https://github.com/coddx-hq/create-web3js-app

[2021-07-10 17:56] olivierchatry commented on #4128
would be real cool if you can push a version with this fix :)

[2021-07-10 19:07] patak-js commented on #4128
We are releasing a new patch version every week (Monday/Tuesday), we'll have 2.4.2 soon :)

[2021-07-10 19:42] olivierchatry commented on #4128
Thanks a lot !

Le sam. 10 juil. 2021 à 21:07, patak ***@***.***> a écrit :

[2021-07-10 20:39] lynellf commented on #3909
Worked for me. Awesome lib. Thanks!

[2021-07-10 20:42] heygrady commented on #2346
This same issue was encountered in the rollup community
- https://github.com/rollup/plugins/issues/528
- https://github.com/rollup/plugins/pull/588

They [fixed it](https://github.com/rollup/plugins/pull/588/files#diff-dbc8c6c4e7383a37fbae0c12d8e6d8901c93631bb7774f4bd1a2a88bbe1980a0L103-R105) by simply not worrying about a hash in the path whatsoever.

[2021-07-11 04:28] yang867381349 commented on #4199
关于这个问题我已经解决了。其后我遇到一个bug 是数据请求之后 三方的ui组件需要 设置 一个v-if 来控制 组件。 已达到 服务层数据到来之后再显示ui组件。不加判断将会出现无法结局的bug

[2021-07-11 04:32] oneezy commented on #1861
@davay42 and everyone else; there's been a few projects created that attempts merging **Vite** + **11ty**. These aren't perfect solutions but they're showing promise! I'm curious how **Vitepress** compares against **11ty**.

**Repo** (I'm using this one)
https://github.com/fpapado/eleventy-with-vite

**Eleventy Plugin** (alpha stage but @Snugug is on it )
https://snugug.com/musings/eleventy-plus-v

[2021-07-11 06:47] modifMX opened #4207 "The grid-template-areas attribute of css cannot be processed normally"
### Describe the bug

[code]

### Reproduction

copy  grid-template-areas: 'h1 h1'  'b2 b2' 'c1 c2 c3';

### System Info

[code]
[code]

[2021-07-11 08:36] Shinigami92 commented on #1861
@oneezy What you are asking for seems like a new feature request than a comment on a closed issue.
But from my side I would like to say that every additional framework we add nativly to vite repo we need to officially also support it, and I think this is not in scope for vite.

Therefore a place like https://github.com/vitejs/awesome-vite is a better place for such templates and plugins.

[2021-07-11 10:13] filipsobol opened #4208 "HMR produces duplicate HTML"
### Describe the bug

When I start adding `<p>Test</p>` to the template and save the changes after each is added, it works fine for the first 11 times. However, after 12 update, HMR produces 21 `Test` strings instead of 12. When I refresh the page, there are 12  `Test` strings.
Then, when I add two more, HMR again produces 25 `Test` strings instead of 14. Refreshing the page again fixes it.

I enc

[2021-07-11 11:33] unlocomqx opened #4209 "Commonjs import differs between dev & prod"
### Describe the bug

Bug

A commonjs module default import will give a function in dev and an object in prod, resulting in an error on prod
[code]

Repro

[code]
Then check the console, you will see a function

[code]
In the console, you will see an object with props `default` and `createApp` etc...

### Reproduction

https://github.com/unlocomqx/vitejs-commonjs

[code]
Then check the console, yo

[2021-07-11 12:29] unlocomqx commented on #4209
I'm using this workaround for now
[code]

[2021-07-11 17:41] #3636 closed

[2021-07-11 19:12] khalwat commented on #3636
Closes https://github.com/vuejs/vitepress/issues/309

Thank you!

[2021-07-11 19:48] oneezy opened #4211 "⚡️ Support 11ty !!! npm init @vitejs/app ➜ eleventy"
### Clear and concise description of the problem

# Vite + 11ty
I want the benefits of using **11ty's** powerful yet simple static site generator that supports multiple templating engines alongside **Vite's** powerful yet simple dev server/ build system. Together they will provide an amazing developer experience and workflow.

### Suggested solution

## This is what I want:
[code]
![image](https:/

[2021-07-11 19:57] oneezy commented on #4211
I just want to quickly point out that this is issue #4211

**42** is the answer to the ultimate question of life, the universe, and everything
**11** is Eleventy

It's a sign guys... Lol

[2021-07-11 19:58] Shinigami92 commented on #4211
Just to repeat **my** point of view:
Every additional framework we add natively to vite repo we need to officially also support it, and I think this template is not in scope for vite.

Therefore a place like https://github.com/vitejs/awesome-vite is maybe a better place for such templates and plugins.

**BUT** as I said, this is just my opinion and we will bring it up in one of our next team meeti

[2021-07-11 20:38] bublikOff opened #4212 "plugin-legacy SystemJS https://git.io/JvFET#8"
### Describe the bug

Hi
Im trying to compile app  for old browsers (there are some certain versions which I need to support, for eg Chrome 53)
And I got following error in Chrome 53

[code]

The same code does work well in Chrome 91

### Reproduction

package.json

[code]

vite.config.js

[code]

index.html
[code]

./sources/index.js

[code]
For testing purpose it contains only one dummy line ...

[2021-07-11 21:54] Secretmapper commented on #4194
@dominikg presents a couple of reasons why. My personal reason is actually the 2nd one as well - I am writing a framework/tool and would want to use custom syntax so as not to expose vite as the underlying build system (for general portability)

[2021-07-11 22:14] wavebeem commented on #4182
Not 100% sure if my issue is related to vite itself or the react fast refresh plugin, but I'm getting either `can't access lexical declaration 'React' before initialization` during HMR, and `_s is not a function` every time afterward, even on a full page refresh.

I was able to reproduce the bug by switching to Vite 2.3.6 even.

You can see my config in this PR where I'm attempting to switch from

[2021-07-12 02:05] 521qq commented on #427
I tried to install the latest version of Ant-Design and it works!
[code]